{% paginate article.comments by 5 %}
  <div id="comments" class="post-comments">
    {% if comment and comment.created_at %}
      <p class="note form-success">
        {% if blog.moderated? %}
          {{ 'blogs.comments.success_moderated' | t }}
        {% else %}
          {{ 'blogs.comments.success' | t }}
        {% endif %}
      </p>
    {% endif %}
    {% if number_of_comments > 0 %}
      <ul>
        {% if comment and comment.created_at %}
          <li id="{{ comment.id }}" class="comment item-comment first{% if article.comments_count == 0 %} last{% endif %}">
          <div class="comment-thumb">
          <a href="#" class="avatar"><img src="{{ 'avatar.png' | asset_url }}" alt=""></a>
          </div>
          {% include 'comment' %}
        </li>
      {% endif %}
      {% for comment in article.comments %}
        <li id="{{ comment.id }}" class="comment item-comment {% unless number_of_comments > article.comments_count %}{% if forloop.first %} first{% endif %}{% endunless %}{% if forloop.last %} last {% endif %}">
         <div class="comment-thumb">
          <a href="#" class="avatar"><img src="{{ 'avatar.png' | asset_url }}" alt=""></a>
          </div>
        {% include 'comment' %}
      </li>
    {% endfor %}
  </ul>
  {% if paginate.pages > 1 %}
    <div class="text-center">
      {% include 'pagination-custom' %}
    </div>
  {% endif %}
{% endif %}

<div class="post-comment-reply">
  <h2 class="post-title">{{ 'blogs.comments.title' | t }}</h2>
  {% if blog.moderated? %}
    <p class="text-light"><em>{{ 'blogs.comments.moderated' | t }}</em></p>
  {% endif %}
  <div id="write-comment">
    {% form 'new_comment', article %}
      {% include 'form-errors-custom' %}
      
      <div class="post-comments-form">
        <div class="widget contact-us">
            <div class="row">
              <div class="col-sm-6 col-xs-12">
                <input {% if form.errors contains "author" %} class="error"{% endif %} type="text" name="comment[author]" placeholder="{{ 'blogs.comments.name' | t }}" id="comment-author" value="{{ form.author }}">
              </div>
              <div class="col-sm-6 col-xs-12">
                <input {% if form.errors contains "email" %} class="error"{% endif %} type="email" name="comment[email]" placeholder="{{ 'blogs.comments.email' | t }}" id="comment-email" value="{{ form.email }}" autocorrect="off" autocapitalize="off">
              </div>
              <div class="col-xs-12">
                <textarea {% if form.errors contains "body" %} class="error"{% endif %} name="comment[body]" id="comment-body" placeholder="{{ 'blogs.comments.message' | t }}">{{ form.body }}</textarea>
              </div>
            </div>
            <div>
                <input type="submit" class="btn-link-default" value="{{ 'blogs.comments.post' | t }}">
            </div>
        </div>
      </div>
      
      {% if form.errors %}
        <script>
        window.location.hash = '#add-comment-title';
        </script>
      {% endif %}
      {% if form.posted_successfully? %}
        <script>
        window.location.hash = '#comments';
        </script>
      {% endif %}
    {% endform %}
  </div>
  </div>

</div>
{% endpaginate %}