{% comment %} -----BLog  Sidebar textwidget ----- {% endcomment %}
{% if settings.textwidget2_visible %}
  <div class="widget widget-post-adv mb-30">

    {% if settings.textwidget2_heading != blank %}
    <h3 class="widget-title ">
      <span>{{ settings.textwidget2_heading }}</span>
    </h3>
    {% endif %}

    {% if settings.textwidget2_image %}
    <p><a href="{{ settings.textwidget2_link }}"><img src="{{'textwidget2_image.jpg' | asset_url}}" alt="{{settings.textwidget2_heading}}" /></a></p>
    {% endif %}

    {% if settings.textwidget2_content %}
    <div class="widget-post-adv-text">
      {{ settings.textwidget2_content }}
    </div>
    {% endif %}

  </div>
{% endif %}


{% comment %} ----- Blog Categories ----- {% endcomment %}
{% if blog.all_tags.size > 0 and settings.blog_categories %}

<div class="widget widget-post-list widget-blog-categories mb-30">
  <h3 class="widget-title title-sidebar-blog">
    <span>{{ 'blogs.sidebar.categories' | t }}</span>
  </h3>
  {% include 'nav-simple' class: 'blog-categories list-unstyled', handle: 'blog-menu', linklist_show_title: false %}
</div>
{% endif %}


{% comment %} ----- BLog Recent Articles ----- {% endcomment %}  
{% if settings.blog_recent %}
  <div class="widget widget-recent-post mb-30">
    <h3 class="widget-title title-sidebar-blog">
      <span>{{ 'blogs.sidebar.recent_articles' | t }}</span>
    </h3>
    {%include 'jv-sc-blog-mini' %}

  </div>
{% endif %}


{% comment %} ----- Tags ----- {% endcomment %}  

{%if settings.blog_sidebar_tags %}
<div class="widget widget-post-tag">
<h2 class="title-sidebar-blog">{{'blogs.article.tags' | t}}</h2>
  <div class="tagcloud">
  {% for tag in blog.all_tags %}{{ tag | link_to_tag: tag }}{% endfor %}
  </div>
</div>
{%endif %}


