{% comment %}
snippet for blog template
{% endcomment %}

<article class="item-blog-list">
  <div class="row">
    <header class="entry-header col-md-4 col-sm-4 col-xs-12">
      {% if article.excerpt.size > 0 %}
        <div class="video-container">
          {{ article.excerpt }}
        </div>
      {% else %}
        {% if article.image %}
          {% assign image_alt = article.title | escape %}
          <div class="post-thumbnail blog-list-thumb">
            <a href="{{ article.url }}" class="blog-list-thumb-link">{{ article | img_url: '1024x1024' | img_tag: image_alt, 'article__image'}}</a>
          </div>
        {% endif %}
      {% endif %}
    </header>

    <div class="col-md-8 col-sm-8 col-xs-12">
      <div class="blog-list-info">
        <h2 class="post-title blog-list-title"><a href="{{ article.url }}">{{ article.title }}</a></h2>
        
        <div class="post-info">
          <span>
            {{ 'blogs.article.postedby' | t }}
            <a href="#">{{ article.author }}</a>
          </span>
          <span class="post-date"> <time  datetime="{{ article.published_at | date: '%Y-%m-%d' }}">{{ article.published_at | date: format: 'month_day_year' }}</time></span>
           
           {% if blog.comments_enabled? %}
            <a href="{{ article.url }}#comments">
              {{ 'blogs.comments.comments_with_count' | t: count: article.comments_count }}
            </a>
         {% endif %}
        </div>
        
        <div class="desc"><p>{{ article.content | strip_html | truncatewords: 70 }}</p></div>

        <a class="readmore" href="{{ article.url }}">{{ 'blogs.article.read_more' | t }}</a>
      </div>

      <footer class="entry-footer">
        {% if settings.social_sharing_blog %}
          {% include 'social-sharing-ul' %}
        {% endif %}
      </footer>
    </div>
  </div>
</article>