{% comment %}
The code below relies on the advanced-tag-loop snippet.
The snippet is already included in snippets/breadrumbs.liquid
because it is needed there too, but if you remove
breadcrumbs you need to include this:

{% include 'advanced-tag-loop' %}
{% endcomment %}


{%comment%}
{% if settings.show_widget_linklist1 || settings.show_widget_linklist2 %}
  <div class="widget-wrapper">
    <div class="widget category-product widget-category">
    <h2 class="widget-title sub-title">{{ 'collections.sidebar.product_categories' | t }}</h2>
{% endif %}

  {% comment %} ----- Sidebar linklist 1 ----- {% endcomment %}
  {% if settings.show_widget_linklist1 %}
    {% assign list_temp = settings.widget_linklist1 %}
    {% include 'collection-sidebar--linklist'%}
  {% endif %}

  {% comment %} ----- Sidebar linklist 2 ----- {% endcomment %}

  {% if settings.show_widget_linklist2 %}
    {% assign list_temp = settings.widget_linklist2 %}
    {% include 'collection-sidebar--linklist'%}
  {% endif %}

{% if settings.show_widget_linklist1 || settings.show_widget_linklist2 %}
      </div>  
    </div>
{% endif %}

{%endcomment%}


{% for i in (1..5) %}
  {% capture setting_key %}widget_linklist{{ i }}{% endcapture %}
  {% assign sidebar_linklist_handle = settings[setting_key] %}
  {% if linklists[sidebar_linklist_handle].links.size > 0 %}
    <nav class="sidebar-module">
      <div class="section-header">
        <p class="section-header__title">{{ linklists[sidebar_linklist_handle].title }}</p>
      </div>
      <ul class="sidebar-module__list">
        {% for link in linklists[sidebar_linklist_handle].links %}
          {% include 'sidebar-partial' %}
        {% endfor %}
      </ul>
    </nav>
  {% endif %}
{% endfor %}




{% comment %} ----- Recently viewed Products ----- {% endcomment %}
{% if settings.viewed_enable %}
<div class="widget-wrapper">
  <div class="widget widget-default">  
    <h3 class="widget-title sub-title">
      <span>{{ 'collections.sidebar.recent_products' | t }}</span>
    </h3>

   {% include 'recently-viewed' %}
  </div>
</div>
{% endif %}



{% if settings.sidebar_content_enable %}
<nav class="sidebar-module">
  <div class="section-header">
    <p class="section-header__title h4">{{ pages[settings.sidebar_content_page].title }}</p>
  </div>
  <div>
    {{ pages[settings.sidebar_content_page].content }}
  </div>
</nav>
{% endif %}
