<div id="footer">
	<div class="container">
		<div class="footer-3">
			<div class="row">
				<div class="col-md-4 col-sm-6 col-xs-12">
					<div class="logo-footer3">
						<a href="#">bigc.ltd.,</a>
					</div>
					<div class="contact-footer3">
						<ul class="list-unstyled">
							<li>{{  settings.footer_addr }}</li>
							<li>{{  settings.footer_addr_state }}</li>
							<li>{{  settings.footer_addr_country }}</li>
							<li>{{  settings.footer_addr_phone }}</li>
						</ul>
					</div>
					<div class="social-network3">
						{% include 'social-sharing-ul' %}
					</div>
				</div>
				<div class="col-md-2 col-sm-6 col-xs-12">
					<div class="box-menu-footer3">

						{% include 'nav-simple' class: '', handle: settings.footer_legallinks_linklist, linklist_show_title: true %}
						
					</div>
				</div>
				<div class="col-md-2 col-sm-4 col-xs-12">
					<div class="box-menu-footer3">
					
						 {% include 'nav-simple' class: '', handle: settings.footer_legallinks_linklist2, linklist_show_title: true %}
					</div>
				</div>
				<div class="col-md-2 col-sm-4 col-xs-12">
					<div class="box-menu-footer3">
					
						{% include 'nav-simple' class: '', handle: settings.footer_legallinks_linklist3, linklist_show_title: true %}
					</div>
				</div>
				<div class="col-md-2 col-sm-4 col-xs-12">
					<div class="box-menu-footer3">
					
						{% include 'nav-simple' class: '', handle: settings.footer_legallinks_linklist4, linklist_show_title: true %}

					</div>
				</div>
			</div>
		</div>
		<div class="footer-bottom3">
			<div class="row">
				<div class="col-md-9 col-sm-9 col-xs-12">
					 {% include 'nav-simple' class: 'list-inline menu-footer3', handle: 'footer', linklist_show_title: false %}
				</div>
				<div class="col-md-3 col-sm-3 col-xs-12">
					<div class="copyright3">
						<p>{{ settings.footer_copyright_text }}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Footer -->