<div class="col-md-4 col-sm-4 col-xs-12">

  {%if settings.footer_logo_enable%}
  <div class="logo logo-footer">
     {{'footer-logo.png' | asset_url | img_tag: 'footer_logo'}}
  </div>
  {% endif %}


  {%if settings.footer_content_text != blank %}
  <div class="download">
    <div class="text--extra">
    {{settings.footer_content_text}}
    </div>
  </div>
  {% endif %}

 {%if settings.footer_contact_enable %}
  <div class="contact-phone">
    <ul class="list-unstyled">
      <li>{{  settings.footer_addr }}</li>
      <li>{{  settings.footer_addr_state }}</li>
      <li>{{  settings.footer_addr_country }}</li>
      <li>{{  settings.footer_addr_phone }}</li>
    </ul>
  </div>
 {% endif %}
 
</div>
<div class="col-md-4 col-sm-4 col-xs-12">
  {% for i in (1..2) %}
    {% capture footer_menu %}footer_menu_{{i}}{% endcapture %}
    <div class="footer-nav">
      {% include 'nav-simple' class: 'list-unstyled', handle: settings[footer_menu], linklist_show_title: true %}
    </div>
  {% endfor %}
</div>

<div class="col-md-4 col-sm-4 col-xs-12">
  {% include 'newsletter' %}
  {% include 'social-sharing-ul' %}
</div>