{% include 'header-top-bar--welcome' %}
{% include 'header-top-bar--setting' with top_bar_myaccount_show:false %}


<div id="header">
	<div class="header header5">
		<div class="container">
			<div class="header__logo-wrapper"><!-- style="position:absolute;left: 15px;bottom: 0; top:0;"> -->
				<div class="logo-header7">
					{%include 'header-logo' %}
				</div>
								
				{% if settings.header_search_enable %}
				<div class="search-form7">
					{% include 'search-bar' %}
				</div>
				{% endif %}

			</div>
		
			<div class="register-box pull-right" style="margin-top:10px">
		
					{% if shop.customer_accounts_enabled %}
          	{% if customer %}
             <a class="link-login account-link" href="/account" data-toggle="tooltip" title="{{ first_name.first_name }} " >
             		<span class="lnr lnr-user hidden visible-xs"></span>
               <span class="hidden-xs">{{ 'layout.customer.my_account' | t }}</span>
              </a>
              <a href="/account/logout" class="link-signin">
              	<span class="lnr lnr-exit hidden visible-xs"></span>
              	<span class="hidden-xs">{{ 'layout.customer.log_out' | t }}</span>
              </a>
              
           	{% else %}
           		<a href="/account/login" class="link-login account-link">
           			<span class="lnr lnr-user hidden visible-xs"></span>
                <span class="hidden-xs"> {{ 'layout.customer.sign_in' | t }}</span>
              </a>
              <a href="/account/register" class="link-signin">
              	<span class="lnr lnr-enter hidden visible-xs"></span>
              	<span class="hidden-xs">{{ 'layout.customer.register' | t }}</span>
              </a>
           {% endif %}
      		{% endif %}

			</div>

			<div class="mainmenu main-nav7 pull-right">
			<!-- menu-short-1 -->
			 {% include 'nav' class: 'dropdownMenu', handle: settings.header_main_menu , hot_label_enable: true%}
				<div class="mobile-menu">
					<a href="#" class="show-menu"><span class="lnr lnr-indent-decrease"></span></a>
					<a href="#" class="hide-menu"><span class="lnr lnr-indent-increase"></span></a>
				</div>
			</div>

		</div>
		
		{%if settings.header_cart_enable and settings.header_top_bar_setting == false %}
		<div class="info-cart info-cart7">
			<a href="#" class="info-icon icon-cart">
				<span class="lnr lnr-cart"></span> <sup class="number-cart-total cart-count {% if cart.item_count == 0 %}hidden-count{% endif %}">{{ cart.item_count }}</sup>
			</a>
			
			{% include 'mini-cart' %}
			
		</div>
		{% endif %}

	</div>
</div>
<!-- End Header -->