{% include 'header-top-bar--welcome' %}

<div class="header header3">
	<div class="container">
		<div class="mainmenu main-nav3 pull-left">
		<!-- 'menu-short-1' -->
			{% include 'nav' class: 'dropdownMenu', handle: settings.header_main_menu , hot_label_enable: true%}
			
			<div class="mobile-menu">
				<a href="#" class="show-menu"><span class="lnr lnr-indent-decrease"></span></a>
				<a href="#" class="hide-menu"><span class="lnr lnr-indent-increase"></span></a>
			</div>
		</div>
		<div class="header__logo-wrapper">
			{%include 'header-logo' %}
		</div>
		
		<div class="info-header info-header3 header__info-wrapper">
			<ul class="info-total">
				<li class="info-user info-user3">
					
					{% if shop.customer_accounts_enabled %}
						{% if customer %}
							<a class="info-icon icon-user top-header__menu-title account-link" href="/account" data-toggle="tooltip" title="{{ first_name.first_name }} ">
	            	  <span class="lnr lnr-user"></span> 
	          	</a>
	          {% else %}
	          	<a href="/account/login" class="info-icon icon-user  top-header__menu-title account-link">
	              <span class="lnr lnr-user"></span>
	            </a>
						{% endif %}
			    {% endif %}

					<div class="box-info-user">

						{% if shop.customer_accounts_enabled %}
	          {% if customer %}

              <ul class="list-unstyled user-info-list">
                <li><a href="/account">{{'customer.account.welcome_text' | t}} {{ customer.first_name }}</a></li>
                <li class="customer-navlink"><span class="lnr lnr-cog"></span><a href="/account">{{ 'layout.customer.view_account' | t }}</a></li>
                <li><span class="lnr lnr-exit"></span>{{ 'layout.customer.log_out' | t | customer_logout_link }}</li>
              </ul>

	          {% else %}

	              <ul class="list-unstyled  user-info-list">
	                <li><span class="lnr lnr-lock"></span>{{ 'layout.customer.sign_in' | t | customer_login_link }}</li>
	                {% if shop.customer_accounts_optional %}
	                <li><span class="lnr lnr-select"></span>{{ 'layout.customer.register' | t | customer_register_link }}</li>
	                {% endif %}
	              </ul>

			        {% endif %}
			      {% endif %}
						
						{% if settings.show_multiple_currencies and settings.header_top_bar_setting_currency %}
						<div class="currency-wrapper">
							<div class="currency__title">Currency</div>
		            {% include 'currency-picker' %}
		         </div>
		        {% endif %}

						{% if settings.header_top_bar_setting_lang %}
						<ul class="list-unstyled language-list">
							<li  class="active"><a href="#"><img src='{{ "flag-fr.png" | asset_url }}' alt="" />French</a></li>
							<li><a href="#"><img src='{{ "flag-en.png" | asset_url }}' alt="" />English</a></li>
							<li><a href="#"><img src='{{ "flag-gm.png" | asset_url }}' alt="" />German</a></li>
						</ul>
						{% endif %}
					</div>

				</li>

				{% if settings.header_search_enable %}
				<li class="info-search">
					<a href="#" class="info-icon icon-search"><span class="lnr lnr-magnifier"></span></a>
					<div class="search-form search-form3">
						{% include 'search-bar' %}
					</div>
				</li>
				{% endif %}

				{%if settings.header_cart_enable %}
				<li class="info-cart info-cart3">
					<a href="#" class="info-icon icon-cart"><span class="lnr lnr-cart"></span>  <sup class="number-cart-total cart-count {% if cart.item_count == 0 %}hidden-count{% endif %}">{{ cart.item_count }}</sup></a>
					
					{% include 'mini-cart' with inner_cart_info_class: 'inner-cart-info5' %}
					
				</li>
				{% endif %}
				
			</ul>
		</div>
		
	</div>
</div>