<div class="header__category--lightbox header-banner">
  <div class="row">
  {% assign index = 0 %}
   {% if settings.header_1_featured_collections_sort == 'manual' %}
    
    {% for i in (1..4) %}
  
      {% capture featured_collection %}collection_{{ i }}{% endcapture %}
    
      {% if settings[featured_collection] != blank %}
          {% assign featured = settings[featured_collection] %}
   
        {%if collections[featured] != empty %}
              {% include 'featured-collection' %}
        {%endif%}
    
      {%else collections[settings.featured_collection] == empty %}
    
        <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="item-header-banner box-left">
          <div class="header-banner-thumb">
            <a href="#" class="header-banner-link">
              <img src="{{ 'no_image.png' | asset_url }}" alt="{{ item.title }}">
              <h2 class="header-banner-title">Category Demo {{i}}<span>05 items</span></h2>
            </a>
          </div>
          <div class="info">Select collection in <a class="color-primary" href="/admin/themes/{{ theme.id }}/settings">Customize theme</a> &gt; Header &gt; Header 1 - 3.2 Select collections {{i}}</div>
        </div>
      </div>

      {% endif %}
    
    {% endfor %}

    {% else %}
      {% for collection in collections limit:4 %}
        {% unless collection.handle == 'frontpage' %}
          {% assign featured = collection.handle %}
              {% include 'featured-collection' %}
        {% endunless %}
      {% endfor %}
  {% endif %}
  </div>
</div>