<div class="list-feature-boxes">
	<div class="row">
      {% capture feature_shape %}feature_shape{% endcapture %}
      {% capture feature_alignment %}feature_alignment{% endcapture %}
     	{% capture feature_color %}feature_color{% endcapture %}
      {% capture feature_bgcolor %}feature_bgcolor{% endcapture %}
      {% capture feature_bordercolor %}feature_bordercolor{% endcapture %}

			
      {%if {{settings[feature_shape]}} != blank %}
				{%capture class_shape %}{{settings[feature_shape]}}{% endcapture %}
			{% else %}
				{%capture class_shape %}{{feature_shape}}{% endcapture %}
      {% endif %}

       {%if {{settings[feature_alignment]}} != blank %}
				{%capture class_alignment %}{{settings[feature_alignment]}}{% endcapture %}
			{% else %}
				{%capture class_alignment %}{{feature_alignment}}{% endcapture %}
      {% endif %}

       {%if {{settings[feature_color]}} != blank %}
				{%capture class_color %}{{settings[feature_color]}}{% endcapture %}
			{% else %}
				{%capture class_color %}{{feature_color}}{% endcapture %}
      {% endif %}

       {%if {{settings[feature_bgcolor]}} != blank %}
				{%capture class_bgcolor %}{{settings[feature_bgcolor]}}{% endcapture %}
			{% else %}
				{%capture class_bgcolor %}{{feature_bgcolor}}{% endcapture %}
      {% endif %}

        {%if {{settings[feature_bordercolor]}} != blank %}
				{%capture class_bordercolor %}{{settings[feature_bordercolor]}}{% endcapture %}
			{% else %}
				{%capture class_bordercolor %}{{feature_bordercolor}}{% endcapture %}
      {% endif %}

	{%if limit_count != blank %}
		{% assign length = limit_count %}
	{% else %}
		{% assign length = 3 %}
	{% endif %}

	{% for i in (1..length) %}



      {% capture feature_title %}feature_item_{{ i }}_title{% endcapture %}
      {% capture feature_desc %}feature_item_{{ i }}_desc{% endcapture %}
      {% capture feature_icon %}feature_item_{{ i }}_icon{% endcapture %}
      {% capture feature_link %}feature_item_{{ i }}_link{% endcapture %}


		<div class="col-md-4">


			<div class="item-feature-box {{class_alignment}}">
				<div class="feature-box-icon">
					<a href="{{settings[feature_link]}}" class="feature-box-link {{class_shape}} {{class_color}} {{class_bgcolor}} {{class_bordercolor}}">
						<span class="{{settings[feature_icon]}}"></span>
					</a>
				</div>
				<div class="feature-box-info">
					{% if settings[feature_title] != blank  %}
					<h3><a href="{{settings[feature_link]}}">{{settings[feature_title]}}</a></h3>
					{% endif %}

					{% if settings[feature_desc] != blank  %}
					<p>{{settings[feature_desc]}}</p>
					{% endif %}
				</div>
			</div>
		</div>

		{% endfor %}
	
	</div>

</div>





<div class="list-feature-boxes">
	<div class="row">
	<!-- 	<div class="col-md-3">
			<div class="item-feature-box text-left">
				<div class="feature-box-icon">
					<a href="#" class="feature-box-link bg-gray color-dark">
						<span class="lnr lnr-apartment"></span>
					</a>
				</div>
				<div class="feature-box-info">
					<h3><a href="#">Icon Style box 01</a></h3>
					<p>Freegan lomo master cleanse, bitters hoodie gastropub cardigan synth sus tainable PBR next level semiotics.</p>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="item-feature-box text-left">
				<div class="feature-box-icon">
					<a href="#" class="feature-box-link border-gray color-dark">
						<span class="lnr lnr-cart"></span>
					</a>
				</div>
				<div class="feature-box-info">
					<h3><a href="#">Icon Style box 02</a></h3>
					<p>Freegan lomo master cleanse, bitters hoodie gastropub cardigan synth sus tainable PBR next level semiotics.</p>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="item-feature-box text-left">
				<div class="feature-box-icon">
					<a href="#" class="feature-box-link bg-yellow color-white">
						<span class="lnr lnr-gift"></span>
					</a>
				</div>
				<div class="feature-box-info">
					<h3><a href="#">Icon Style box 03</a></h3>
					<p>Freegan lomo master cleanse, bitters hoodie gastropub cardigan synth sus tainable PBR next level semiotics.</p>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="item-feature-box text-left">
				<div class="feature-box-icon">
					<a href="#" class="feature-box-link border-yellow color-yellow">
						<span class="lnr lnr-home"></span>
					</a>
				</div>
				<div class="feature-box-info">
					<h3><a href="#">Icon Style box 04</a></h3>
					<p>Freegan lomo master cleanse, bitters hoodie gastropub cardigan synth sus tainable PBR next level semiotics.</p>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="item-feature-box text-right">
					<div class="feature-box-icon">
					<a href="#" class="feature-box-link bg-dark color-white">
						<span class="lnr lnr-heart"></span>
					</a>
				</div>
				<div class="feature-box-info">
					<h3><a href="#">Icon Style box 05</a></h3>
					<p>Freegan lomo master cleanse, bitters hoodie gastropub cardigan synth sus tainable PBR next level semiotics.</p>
				</div>
			
			</div>
		</div>
		<div class="col-md-3">
			<div class="item-feature-box text-right">
					<div class="feature-box-icon">
					<a href="#" class="feature-box-link bg-dark color-yellow">
						<span class="lnr lnr-user"></span>
					</a>
				</div>
				<div class="feature-box-info">
					<h3><a href="#">Icon Style box 06</a></h3>
					<p>Freegan lomo master cleanse, bitters hoodie gastropub cardigan synth sus tainable PBR next level semiotics.</p>
				</div>
			
			</div>
		</div>
		<div class="col-md-3">
			<div class="item-feature-box text-center">
				<div class="feature-box-icon">
					<a href="#" class="feature-box-link border-dark color-dark">
						<span class="lnr lnr-heart"></span>
					</a>
				</div>
				<div class="feature-box-info">
					<h3><a href="#">Icon Style box 07</a></h3>
					<p>Freegan lomo master cleanse, bitters hoodie gastropub cardigan synth sus tainable PBR next level semiotics.</p>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="item-feature-box text-center ">
				<div class="feature-box-icon">
					<a href="#" class="feature-box-link border-dark bg-yellow">
						<span class="lnr lnr-phone-handset"></span>
					</a>
				</div>
				<div class="feature-box-info">
					<h3><a href="#">Icon Style box 08</a></h3>
					<p>Freegan lomo master cleanse, bitters hoodie gastropub cardigan synth sus tainable PBR next level semiotics.</p>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="item-feature-box text-center">
				<div class="feature-box-icon">
					<a href="#" class="feature-box-link bg-dark color-white">
						<span class="lnr lnr-bullhorn"></span>
					</a>
				</div>
				<div class="feature-box-info">
					<h3><a href="#">Icon Style box 09</a></h3>
					<p>Freegan lomo master cleanse, bitters hoodie gastropub cardigan synth sus tainable PBR next level semiotics.</p>
				</div>
			</div>
		</div>
 -->


		<div class="col-md-3">
			<div class="item-feature-box text-center ">
				<div class="feature-box-icon">
					<a href="#" class="feature-box-link border-darkblue color-white i-circle i-border-double">
						<span class="lnr lnr-envelope"></span>
					</a>
				</div>
				<div class="feature-box-info">
					<h3><a href="#">Icon Style box 10</a></h3>
					<p>Freegan lomo master cleanse, bitters hoodie gastropub cardigan synth sus tainable PBR next level semiotics.</p>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="item-feature-box text-center box-icon-top box-border">
				<div class="feature-box-icon">
					<a href="#" class="feature-box-link i-circle">
						<span class="lnr lnr-star"></span>
					</a>
				</div>
				<div class="feature-box-info">
					<h3><a href="#">Icon Style box 11</a></h3>
					<p>Freegan lomo master cleanse, bitters hoodie gastropub cardigan synth sus tainable PBR next level semiotics.</p>
				</div>
				<a href="#" class="readmore color-yellow">Read more <span class="lnr lnr-arrow-right"></span></a>
			</div>
		</div>
		<div class="col-md-3">
			<div class="item-feature-box text-center box-icon-top box-border">
				<div class="feature-box-icon">
					<a href="#" class="feature-box-link bg-darkblue color-white">
						<span class="lnr lnr-magnifier"></span>
					</a>
				</div>
				<div class="feature-box-info">
					<h3><a href="#">Icon Style box 12</a></h3>
					<p>Freegan lomo master cleanse, bitters hoodie gastropub cardigan synth sus tainable PBR next level semiotics.</p>
				</div>
				<a href="#" class="readmore color-darkblue"><span class="lnr lnr-arrow-right"></span> Read more </a>
			</div>
		</div>
		<div class="col-md-3">
			<div class="item-feature-box text-left box-wrap box-bg-darkblue">
				<div class="feature-box-icon">
					<a href="#" class="feature-box-link i-circle">
						<span class="lnr lnr-clock"></span>
					</a>
				</div>
				<div class="feature-box-info">
					<h3><a href="#">Icon Style box 13</a></h3>
					<p>Freegan lomo master cleanse, bitters hoodie gastropub cardigan synth sus tainable PBR next level semiotics.</p>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="item-feature-box text-left box-wrap box-border">
				<div class="feature-box-icon">
					<a href="#" class="feature-box-link bg-darkblue color-white">
						<span class="lnr lnr-camera-video"></span>
					</a>
				</div>
				<div class="feature-box-info">
					<h3><a href="#">Icon Style box 14</a></h3>
					<p>Freegan lomo master cleanse, bitters hoodie gastropub cardigan synth sus tainable PBR next level semiotics.</p>
				</div>
			</div>
		</div>
	</div>
</div>