<main class="wrapper main-content " role="main">
 

  {% comment %} ----- Featured Collections Tabs ----- {% endcomment %}

  {% if settings.home1_featured_collection_tabs_enable %}

  <div class="home-bestsale-product">
    <h2 class="title title-home">best sellers</h2>

    <div class="home-bestsale-slider">
      {%include 'jv-sc-product-tabs' %}
    </div>
  </div>
  {% endif %}       

  <div class="container">{%include 'jv-sc-product-tabs-grid' %}  </div>
  
  {%include 'jv-sc-product-slider-single' %}
  {%include 'jv-sc-product-slider-grid' %}
  {%include 'jv-sc-product-tabs-grid-simple' with tab_style:'1',product_paginav:true, product_loadmore:false, product_desc_enable: false %}
  {%include 'jv-sc-product-tabs-grid-simple' with tab_style:'2',product_paginav:false, product_loadmore:true, product_desc_enable: true %}
  {%include 'jv-sc-product-tabs-grid-simple' with tab_style:'3',product_paginav:false, product_loadmore:true, product_desc_enable: false %}

  <div class="container"> {% include 'jv-testimonials-3' %} </div>
  <div class="container"> {% include 'jv-logopartner' %} </div>

  {%include 'jv-banner-product-adv'%}



    {% unless settings.home_content == blank or pages[settings.home_content].empty? or pages[settings.home_content].content == blank %}
    {% assign page = pages[settings.home_content] %}
    <div class="rte">
      {{ page.content }}
    </div>
    <hr>
    {% endunless %}


    {% comment %} ----- Spceial Offers ----- {% endcomment %}



    {% comment %} ----- Latest Products ----- {% endcomment %}
    
    {% comment %} ----- Featured Products ----- {% endcomment %}
     

 
 
    {% comment %} ----- Home Blog ----- {% endcomment %}
    {% if settings.home_blog_enable %}   
    <div class="blog-lastest-post pt-30">
          <header class="section-header-shop-homepage pb-75">    
            {% if settings.home_blog_title != blank %}
            <h4 class="heading-border-1"><span>{{ settings.home_blog_title }}</span></h4>
            {% endif %}

            {% if settings.home_blog_text != blank %}
            <p class="font-serif header-caption text-center">{{ settings.home_blog_text }}</p>  
            {% endif %}  
          </header>  
        <div class="row">

          {% assign tmp = settings.home_blog %}
          {% assign blog = blogs[tmp] %}
          {% for article in blog.articles limit:settings.home_blog_number %}

          <div class="col-md-4 col-xs-12">
            <div class="blog-item section-block-p">

              {% if article.excerpt.size > 0 %}

              <div class="item-image">
                {{ article.excerpt }}
              </div>
              {% else %}
              {% if article.image %}
              {% assign image_alt = article.title | escape %}

              <div class="item-image">

                {{ article | img_url: '1024x1024' | img_tag: image_alt, 'article__image' | link_to: article.url }}

              </div>

              {% endif %}    
              {% endif %} 


              <p><a href="{{ blog.url }}">{{ blog.title }}</a>&nbsp;/&nbsp;<time  datetime="{{ article.published_at | date: '%Y-%m-%d' }}">{{ article.published_at | date: format: 'month_day_year' }}</time></p>
              <h5><a href="{{ article.url }}">{{ article.title }}</a></h5>
            </div>
          </div>

          {% endfor %}


        </div>
    </div>      

    {% endif %}     



</main>     

