{% assign var_piechart = "piechart" %}
{% assign var_piechart_length = 4 %}

{% for i in (1..var_piechart_length) %}
	
	{% capture penable %}{{var_piechart}}_item_{{ i }}_enable{% endcapture %}

	{%if settings[penable]%}
	
		{% capture ptitle %}{{var_piechart}}_item_{{ i }}_title{% endcapture %}
		{% capture pcolor %}{{var_piechart}}_item_{{ i }}_color{% endcapture %}
		{% capture pvalue %}{{var_piechart}}_item_{{ i }}_value{% endcapture %}

		
		{% assign main_value = settings[pvalue] | downcase  | plus:0 %}
		{% assign remain_value = 100 | minus: main_value %}
		{% assign class_col = 12 | divided_by : var_piechart_length %}


		<div class="pieChart-wrapper col-xs-12 col-md-{{class_col}}">
			<h3>{{settings[ptitle]}}</h3>
			<div id="pieChart_source{{i}}" data-id="{{i}}" class="pieChart_source">
				<input type="hidden" class="pieChart" value="{{main_value}}" /> <input type="hidden" class="pieChart" value="{{remain_value}}" />
			</div>
			<div id="pieChart_target{{i}}" class="pieChart-target {{settings[pcolor]}}"></div>
		</div>

	{% endif %}

{% endfor %}

<script type="text/javascript">
	
  if( $('.pieChart').length > 0 && $('.pieChart-target').length > 0){
  	
  	$('.pieChart_source').each(function(){

  		var id = $(this).attr('data-id');
  		$(this).pieChart('#pieChart_target'+ id);
  	});
    
  } 

</script>