{% comment %}
- required : multiple of listProduct for each tab
- theme setting required format:
	+ {{row}}_enable
	+ {{row}}_limit
	+ {{row}}_icon

{% endcomment %}

{% assign listProduct = "sc_product_tab_grid_icon_" %}

{% capture listProductShowMoreBtn %}{{listProduct}}showmore_enable{%endcapture%}

<div class="product-tab-wrapper">
	<div class="container"> {% include 'jv-sub-heading-box' %} </div>
	<div class="nav-tabs-icon tab-section-01 style-2">
		<ul class="nav nav-tabs" role="tablist">
			{% for i in (1..4) %}
				{% capture featured_row %}{{listProduct}}{{ i }}{% endcapture %}
				{% capture featured_row_enable %}{{listProduct}}{{ i }}_enable{% endcapture %}
				{% capture featured_row_icon %}{{listProduct}}{{ i }}_icon{% endcapture %}
				{% capture row_limit_setting %}{{listProduct}}{{ i }}_limit{% endcapture %}
				{% assign featured_row = settings[featured_row] %}

					{% if collections[featured_row] != empty and settings[featured_row_enable]  %}
					{% assign row_limit_setting = settings[row_limit_setting] | plus: 0 %}
						{% unless collections[featured_row].all_products_count == 0 and  collections[featured_row].title != "" %}
							<li class="{% if i == 1 %} active {% endif %} ">
								<a href="#{{listProduct}}__product-tab-tab_{{ i }}" data-toggle="tab" role="tab"><span class="{{settings[featured_row_icon]}}"></span>{% include 'featured-row-title' %}</a>
							</li>
						{% endunless %}
					{% endif %}
			{% endfor %}
		</ul>
	</div>

	<div class="tab-content">
	{% assign flag_atleast_one_tab_enable = false %}
		{% for i in (1..4) %}
			{% capture featured_row_enable %}{{listProduct}}{{ i }}_enable{% endcapture %}
			{% capture featured_row %}{{listProduct}}{{ i }}{% endcapture %}
			{% capture row_limit_setting %}{{listProduct}}{{ i }}_limit{% endcapture %}
			{% assign featured_row = settings[featured_row] %}

			{% if settings[featured_row_enable] and collections[featured_row] != empty %}
				{% assign row_limit_setting = settings[row_limit_setting] | plus: 0  %}

				{% unless collections[featured_row].all_products_count == 0 %}
					<div role="tabpanel" class="tab-pane fade  {% if i == 1 %} in active  {% else %} undefined {% endif %}" id="{{listProduct}}__product-tab-tab_{{ i }}">
					{% include 'featured-row-content' with leading_product: false, leading_product_image:'', leading_time: '',  product_loadmore: settings[listProductShowMoreBtn]  %}
					</div>
					{% assign flag_atleast_one_tab_enable = true %}
				{% endunless %}
				
			{%elsif collections[featured_row] == empty and settings[featured_row_enable] %}
				<p class="mb-30">Select collection in <a class="color-primary" href="/admin/themes/{{ theme.id }}/settings">Customize theme</a> &gt; SC: P1-Tabs grid icon - Tab {{i}}</p>
			{%endif %}

		{% endfor %}
		{%if flag_atleast_one_tab_enable == false %}
			<p class="mb-30">Select collection in <a class="color-primary" href="/admin/themes/{{ theme.id }}/settings">Customize theme</a> &gt; SC: P1-Tabs grid icon</p>
    {% endif %}
	</div>

</div>

<script>
	function randomID() {
  return '_' + Math.random().toString(36).substr(2, 9);
};

var list = jQuery('.product-tab-wrapper .nav a[role=tab]');
var panels = jQuery('.product-tab-wrapper .tab-content .tab-pane');

for (var i = list.length - 1; i >= 0; i--) {
	var random =  randomID();
	jQuery(list[i]).attr('href', jQuery(list[i]).attr('href') + random);
	jQuery(panels[i]).attr('id', jQuery(panels[i]).attr('id') + random);
}

</script>
