
{% assign listProduct = "sc_product_tab_" %}

{% if tab_style == '1'%}
	{%assign class_wrap = 'product-best-sale'%}
{% else %}
	{%assign class_wrap ='product-list-filter' %}
{% endif %}

<div class="{{class_wrap}}">
	<div class="container">

		{% include 'jv-sc-product-tabs-grid-simple--header-navtab'%}

		<div class="tab-content">
			
				{% for i in (1..4) %}
				{% capture featured_row_enable %}{{listProduct}}{{ i }}_enable{% endcapture %}
				{% capture featured_row %}{{listProduct}}{{ i }}{% endcapture %}
				{% capture row_limit_setting %}{{listProduct}}{{ i }}_limit{% endcapture %}

				{% if settings[featured_row_enable] and settings[featured_row] != blank %}
					{% assign featured_row = settings[featured_row] %}
					{% assign row_limit_setting = settings[row_limit_setting] | plus: 0  %}

					{% unless collections[featured_row].all_products_count == 0 %}
					<div id="product-grid-simple--tab{{ i }}" class="tab-pane {% if i == 1 %} active {% endif %} " role="tabpanel">
						{% include 'featured-row-content' with class_col: 'col-md-3 col-sm-6 col-xs-12'  with leading_product: '', leading_product_image:'', leading_time: '', quickview_enable: true %}
					{% endunless %}
						<div class="paginav-best-seller">
							<ul class="list-inline">
								<li><a href="#" class="active">1</a></li>
								<li><a href="#">2</a></li>
								<li><a href="#">3</a></li>
							</ul>
						</div>
					</div>

				{% endif %}
			{% endfor %}

		
			<!-- End tab-content 1-->
		</div>
	</div>
</div>