{% assign blogs_list_grids = settings.banner_3_datablog %}
{% assign sourcedata = blogs[blogs_list_grids] %}
{% assign count = sourcedata.articles_count %}
{% assign blog_tag_filter = settings.banner_3_datablog_tag %}

{%comment%}default :banner_style3 {%endcomment%} 
{%assign count_item = 1 %}

<div class="container">
  {%include 'jv-sc-heading-box'%}
</div>

{%if count >= 1 %}
<div class="row">

   {% for article in sourcedata.articles %}
    
    {% if article.tags contains blog_tag_filter and article.excerpt contains '[jvbanner]' %}
      {% assign temp = article.excerpt | split:'[/jvbanner]' | first %}
      {% assign bannercode = temp | split:'[jvbanner]' | last %}
      
      {% assign temp = bannercode | split:'[/subtitle]' | first %}
      {% assign banner_subtitle = temp | split:'[subtitle]' | last %}

      {% assign temp = bannercode | split:'[/url]' | first %}
      {% assign banner_url = temp | split:'[url]' | last %}

      {% assign temp = bannercode | split:'[/btn]' | first %}
      {% assign banner_btn = temp | split:'[btn]' | last %}

      {% assign class_item = forloop.index %}
        {% if count_item == 1 %}
          {% assign class_item = 'col-left'%}
        {% else %}
          {% assign class_item = 'col-right'%}
      {% endif %}
	
	 {%if count_item == 1 or count_item == 3 %}
		<div class="col-md-6 col-sm-6 col-xs-12 {{class_item}} ">
		{%endif %}

		<div class="banner-box banner-style3 {{forloop.index}}">
				<a href="{{banner_url}}" class="banner-box-link">
					  {{ article | img_url: '1024x1024' | img_tag: article.title, 'article__image' }}
				</a>
				<div class="banner-box-info">

					  {% if article.title != blank  %}
	            <h2 class="title-banner-box style1">{{ article.title }}</h2>
	          {% endif %}

	          {% if banner_subtitle != blank %}
	            <h2 class="title-banner-box style2">{{banner_subtitle}}</h2>
	          {% endif %} 

	          {% if banner_btn  != blank %}
      			<a href="{{ banner_url }}" class="btn-link-hidden">{{ banner_btn }}</a>                            
      		{% endif %}   

				</div>
		</div>
		{%if count_item == 2 or count_item == 4 %}
		</div>
		{%endif%}
		
		{% assign count_item = count_item | plus : 1 %}
    {%endif %}
  {%endfor %}
</div>
{% else %}
  <div class="row">
    <p>Nothing found</p>
  </div>
{%endif%}