{% assign blogs_list_grids = settings.team_circle_data %}
{% assign sourcedata = blogs[blogs_list_grids] %}
{% assign count = sourcedata.articles_count %}
{% assign number_cols = settings.team_circle_columns | plus: 0 %}
{% assign blog_tag_filter = settings.team_circle_data_tag %}

{%comment%}default :team_person {%endcomment%} 
{%if count >= 1 %}

<div class="team-circle">
	<div class="row">
		 {% for article in sourcedata.articles %}

	    {% if article.tags contains blog_tag_filter and article.excerpt contains '[jvperson]' %}
	      {% assign temp = article.excerpt | split:'[/jvperson]' | first %}
	      {% assign personcode = temp | split:'[jvperson]' | last %}
	      
	      {% assign temp = personcode | split:'[/job]' | first %}
	      {% assign person_job = temp | split:'[job]' | last %}

	      {% assign temp = personcode | split:'[/desc]' | first %}
	      {% assign person_desc = temp | split:'[desc]' | last %}

	      {% assign temp = article.excerpt | split:'[/links]' | first %}
	      {% assign person_links = temp | split:'[links]' | last %}

			<div class="col-md-{{12 | divided_by : number_cols }} col-sm-6 col-xs-12">
				<div class="item-team-circle item-team-circle{{i}}">
					<div class="team-circle-thumb">
						<div class="img team-cirle-image" style="background-image: url({{ article.image.src | img_url: 'master' }}); background-size: cover; background-position: center center"></div>

						<div class="info-circle-thumb">
							{%if person_desc != blank %}
							<p class="desc">{{person_desc}}</p>
							{%endif %}
							{{ person_links }}
						</div>
					</div>
					<div class="team-circle-info">
						<h3><a href="#">{{ article.title }}</a></h3>
						{%if person_job != blank %}
						<span>{{ person_job }}</span>
						{%endif %}
					</div>
				</div>
			</div>

	      {%endif %}
	  {%endfor %}
	</div>
</div>
{%endif%}