{% assign blogs_list_grids = settings.banner_3_data_blog %}
{% assign sourcedata = blogs[blogs_list_grids] %}
{% assign count = sourcedata.articles_count %}
{% assign number_cols = settings.banner_3_columns | plus: 0 %}
{% assign blog_tag_filter = settings.banner_3_data_blog_tag %}

{%comment%}default :banner_style3 {%endcomment%} 

{%if count > 1 %}
<div class="row">
   {% for article in sourcedata.articles %}
    
    {% if article.tags contains blog_tag_filter and article.excerpt contains '[jvbanner]' %}
      {% assign temp = article.excerpt | split:'[/jvbanner]' | first %}
      {% assign bannercode = temp | split:'[jvbanner]' | last %}
      
      {% assign temp = bannercode | split:'[/subtitle]' | first %}
      {% assign banner_subtitle = temp | split:'[subtitle]' | last %}

      {% assign temp = bannercode | split:'[/url]' | first %}
      {% assign banner_url = temp | split:'[url]' | last %}

      {% assign temp = bannercode | split:'[/btn]' | first %}
      {% assign banner_btn = temp | split:'[btn]' | last %}

      {% assign class_item = forloop.index %}
        {% if class_item == 1 %}
          {% assign class_item = 'col-left'%}
        {% else %}
          {% assign class_item = 'col-right'%}
      {% endif %}
	
	 {%if forloop.index == 1 or forloop.index == 3 %}
		<div class="col-md-6 col-sm-6 col-xs-12 {{class_item}}">
		{%endif %}

		<div class="banner-box banner-style3">
				<a href="{{banner_url}}" class="banner-box-link">
					  {{ article | img_url: '1024x1024' | img_tag: article.title, 'article__image' }}
				</a>
				<div class="banner-box-info">

					  {% if article.title != blank  %}
	            <h2 class="title-banner-box style1">{{ article.title }}</h2>
	          {% endif %}

	          {% if banner_subtitle != blank %}
	            <h2 class="title-banner-box style2">{{banner_subtitle}}</h2>
	          {% endif %} 

	          {% if banner_btn  != blank %}
      			<a href="{{ banner_url }}" class="btn-link-hidden">{{ banner_btn }}</a>                            
      		{% endif %}   

				</div>
		</div>
		{%if forloop.index == 2 or forloop.index == 4 %}
		</div>
		{%endif%}

    {%endif %}
  {%endfor %}
</div>
{%endif%}


{%assign banner_name = 'banner3' %}

<div class="row">

	 {% for i in (1..4) %}

      {% capture banner_img %}{{banner_name}}_item_{{ i }}_img.png{% endcapture %}
      {% capture banner_title %}{{banner_name}}_item_{{ i }}_title{% endcapture %}
      {% capture banner_subtitle %}{{banner_name}}_item_{{ i }}_subtitle{% endcapture %}
      {% capture banner_text %}{{banner_name}}_item_{{ i }}_text{% endcapture %}
      {% capture banner_btn %}{{banner_name}}_item_{{ i }}_btn{% endcapture %}
      {% capture banner_link %}{{banner_name}}_item_{{ i }}_link{% endcapture %}

      {% assign class_item = i %}
        {% if class_item == 1 %}
          {% assign class_item = 'col-left'%}
        {% else %}
          {% assign class_item = 'col-right'%}
      {% endif %}
 {%if i == 1 or i == 3 %}
	<div class="col-md-6 col-sm-6 col-xs-12 {{class_item}}">
	{%endif %}

		<div class="banner-box banner-style3">
				<a href="{{settings[banner_link]}}" class="banner-box-link">
					  {{ banner_img | asset_url | img_tag: banner_img }}
				</a>
				<div class="banner-box-info">

					  {% if settings[banner_title] != blank  %}
	            <h2 class="title-banner-box style1">{{ settings[banner_title] }}</h2>
	          {% endif %}

	          {% if settings[banner_subtitle] != blank %}
	            <h2 class="title-banner-box style2">{{settings[banner_subtitle]}}</h2>
	          {% endif %} 

	          {% if settings[banner_btn]  != blank %}
      			<a href="{{ settings[banner_link] }}" class="btn-link-hidden">{{ settings[banner_btn] }}</a>                            
      		{% endif %}   

				</div>
		</div>
	{%if i == 2 or i == 4 %}
	</div>
	{%endif%}

  {% endfor %}

</div>
