{% assign sourcedata = blogs[settings.testimonial_s1_data] %}
{% assign count = sourcedata.articles_count %}
{% assign number_cols = settings.testimonial_s1_columns | plus: 0 %}
{% assign blog_tag_filter = settings.testimonial_s1_data_tag %}

{%comment%}default :testi_person {%endcomment%} 
{%if count >= 1 %}

<div class="customer-saying testimonials-1 slider-owl-3-items">
	<div class="wrap-item">
		 {% for article in sourcedata.articles %}

	    {% if article.tags contains blog_tag_filter and article.excerpt contains '[jvperson]' %}
	      {% assign temp = article.excerpt | split:'[/jvperson]' | first %}
	      {% assign personcode = temp | split:'[jvperson]' | last %}
	      
	      {% assign temp = personcode | split:'[/job]' | first %}
	      {% assign person_job = temp | split:'[job]' | last %}

	      {% assign temp = personcode | split:'[/url]' | first %}
	      {% assign person_url = temp | split:'[url]' | last %}

	      <div class="item">
					<div class="item-customer-saying">
						<div class="thumb-customer-saying">
							<a href="{{person_url | url_escape }}">
							<div class="img" style="background-image: url({{ article.image.src | img_url: 'master' }}); background-size: cover; background-position: center center"></div>
							</a>
						</div>
						<div class="info-customer-saying">
							{%if article.content != blank %}
							<p class="desc">{{article.content | strip_html | truncate: 170}}</p>
							{%endif %}
							<h3><a href="{{person_url | url_escape }}">{{article.title}}</a></h3>
							{%if person_job%}
							<span>{{person_job}}</span>
							{%endif %}
						</div>
					</div>
				</div>

	      {%endif %}
	  {%endfor %}
	</div>
</div>
{%endif%}