{% comment %}
- required : multiple of listProduct for each tab
- theme setting required format:
	+ {{row}}_enable
	+ {{row}}_limit
	+ {{row}}_icon

	'jv-sub-product-tabs-grid--header-navtab' with listProduct_heading: listProduct_heading, listProduct_style: listProduct_style

{% endcomment %}



{% assign listProduct = "sc_product_tab_grid_" %}


{% capture listProduct_heading %}{{listProduct}}heading{% endcapture %}
{% capture listProduct_style %}{{listProduct}}style{% endcapture %}


<div class="product-tabs-grid-wrapper">

{% unless style_header_product%}
{% assign style_header_product =  settings[listProduct_style]%}
{% endunless %}

	{% if style_header_product == 'inline' %}
	<div class="header-product-tab">
		<div class="row">
			
			<div class="col-md-3 col-sm-3 col-xs-12">
				{% include 'jv-sc-heading-box' %}
			</div>

			<div class="col-md-9 col-sm-9 col-xs-12">
				<div class="list-tab-title">
	{% endif %}

	<div class="{%if style_header_product != 'inline' %}nav-tabs-default{%endif%}" id="tab-2">
		
		<ul class="nav nav-tabs" role="tablist">
			{% for i in (1..4) %}
				{% capture featured_row %}{{listProduct}}{{ i }}{% endcapture %}
				{% capture featured_row_enable %}{{listProduct}}{{ i }}_enable{% endcapture %}
				{% capture featured_row_icon %}{{listProduct}}{{ i }}_icon{% endcapture %}
				{% capture row_limit_setting %}{{listProduct}}{{ i }}_limit{% endcapture %}

					{% if settings[featured_row_enable] and settings[featured_row] != blank %}
					{% assign featured_row = settings[featured_row] %}

					{% assign row_limit_setting = settings[row_limit_setting] | plus: 0 %}
					
					{% unless collections[featured_row].all_products_count == 0 %}
						<li class="{% if i == 1 %} active {% endif %} ">
							<a href="#product-tabs-grid-tab_{{ i }}" data-toggle="tab" role="tab" ><span class="{{settings[featured_row_icon]}}"></span>{% include 'featured-row-title' %}</a>
						</li>
					{% endunless %}
				{% endif %}
		{% endfor %}
		</ul>
	</div>


	{% if style_header_product == 'inline' %}
				</div>
			</div>
		</div>
	</div>
	{% endif %}



	<div class="product-grid tab-content">
		{% for i in (1..4) %}
			{% capture featured_row_enable %}{{listProduct}}{{ i }}_enable{% endcapture %}
			{% capture featured_row %}{{listProduct}}{{ i }}{% endcapture %}
			{% capture row_limit_setting %}{{listProduct}}{{ i }}_limit{% endcapture %}

			{%capture leading_product_image %}{{listProduct}}{{i}}_product_lead_img.png {%endcapture%}
			{%capture leading_product %}{{listProduct}}{{i}}_product{%endcapture%}

			{%capture leading_time%}{{listProduct}}{{i}}_product_time{%endcapture%}
			
			{% assign handlep = leading_product | downcase %}
			

			{% if settings[featured_row_enable] and settings[featured_row] != blank %}
				{% assign featured_row = settings[featured_row] %}
				{% assign row_limit_setting = settings[row_limit_setting] | plus: 0  %}

				{% unless collections[featured_row].all_products_count == 0 %}
					<div role="tabpanel" class="tab-pane fade {% if i == 1 %} in active{% else %} undefined {% endif %}" id="product-tabs-grid-tab_{{ i }}">
					
					{% unless collections[featured_row].all_products_count == 0 %}
						{% include 'featured-row-content' with class_col: 'col-md-3 col-sm-6 col-xs-12'  with leading_product: settings[handlep], leading_product_image:leading_product_image, leading_time: leading_time; quickview_big_enable:false  %}
						
					{% endunless %}

					</div>
				{% endunless %}

			{% endif %}
		{% endfor %}
	</div>


</div>


<script>
	function randomID() {
  return '_' + Math.random().toString(36).substr(2, 9);
};

var list = jQuery('.product-tabs-grid-wrapper .nav a[role=tab]');
var panels = jQuery('.product-tabs-grid-wrapper .tab-content .tab-pane');

for (var i = list.length - 1; i >= 0; i--) {
	var random =  randomID();
	jQuery(list[i]).attr('href', jQuery(list[i]).attr('href') + random);
	jQuery(panels[i]).attr('id', jQuery(panels[i]).attr('id') + random);
}

</script>




