{% assign blog_title = settings.home_blog_title %}
{% assign blog_text = settings.home_blog_text %}

{% assign blogs_list_grids = settings.home_blog %}
{% assign limit_item = settings.home_blog_number | plus: 0 %}
{% assign limit_item = 12 %}

{% assign blog = blogs[blogs_list_grids] %}

<div class="popular-post-masonry slider-5-items">
  <div class="container">
    <div class="box-intro">
      {% if blog_title != blank %}
      <h2><span class="title">{{ blog_title }}</span></h2>
      {% endif %}
      {% if blog_text != blank %}
      <span class="desc-title">{{ blog_text }}</span>
      {% endif %}
    </div>

    <div class="paginav-slider">
      <div class="wrap-item">

         {% assign item_per_slide = 6 %}

          <div class="item masonry-container">

              {% for article in blog.articles limit:limit_item %}
            
                <div class="itemMasonry col-md-3 {%if forloop.last%} last {%endif%}">

                  <div class="popular-box">
                    <div class="popular-box-thumb">

                      {% assign image_alt = article.title | escape %}
                      {{ article | img_url: '1024x1024' | img_tag: image_alt, 'article__image' | link_to: article.url }}

                    </div>
                    <div class="popular-box-text">
                      <h2 class="title-popular-box"><a href="{{ article.url }}"><span>{{ article.title }}</span></a></h2>
                      {% if article.content != blank %}
                      <div class="desc-popular-box">{{ article.content | strip_html  | truncate: 40 }}</div>
                      {% endif %}
                    </div>
                  </div>

                </div>
                <!-- end itemMasonry -->

              {%assign test =  forloop.index | modulo:item_per_slide %}
              {% if test == 0 %}
                {{'</div>'}}
                {%if forloop.last == false %}
                <!-- open new item -->
                  {{'<div class="item masonry-container">'}}
                {% endif %}
              {% endif %}

              {% endfor %}
       
          </div>
          <!-- item masonry-container -->
      </div> 
      <!-- wrap-item -->
    </div>
  </div>
</div>
<!-- End Popular Post -->
<style type="text/css">
  .popular-post-masonry .itemMasonry:nth-child(3),
  .popular-post-masonry .itemMasonry:nth-child(4) {
    width: 50%;
  }
</style>


<script language="javascript">
jQuery(function($){
  var $container = $('.masonry-container').imagesLoaded(function(){
    $container.masonry({
    
    itemSelector: '.itemMasonry'
    });
  });
});
</script>