{% assign sourcedata = blogs[settings.team_gallery_data] %}
{% assign count = sourcedata.articles_count %}
{% assign number_cols = settings.team_gallery_columns | plus: 0 %}
{% assign blog_tag_filter = settings.team_gallery_data_tag %}

{%comment%}default :team_person {%endcomment%} 
{%if count >= 1 %}

<div class="team-gallery">
  <div class="row">
     {% for article in sourcedata.articles %}

      {% if article.tags contains blog_tag_filter and article.excerpt contains '[jvperson]' %}
        {% assign temp = article.excerpt | split:'[/jvperson]' | first %}
        {% assign person_desc = temp | split:'[jvperson]' | last %}
        
        {% assign temp = person_desc | split:'[/job]' | first %}
        {% assign person_job = temp | split:'[job]' | last %}

        {% assign temp = personcode | split:'[/url]' | first %}
        {% assign person_url = temp | split:'[url]' | last %}

        {% assign temp = personcode | split:'[/links]' | first %}
        {% assign person_links = temp | split:'[links]' | last %}
        
        <div class="col-md-{{12 | divided_by : number_cols }} col-sm-6 col-xs-12">
          <div class="item-team-gallery">
            <h3><a href="#">{{ article.title }}</a></h3>
            <a class="team-gallery-thumb fancybox" href="{{ article.image.src | img_url: 'master' }}" data-fancybox-group="gallery" title="{{ article.title }}">
               <img src="{{ article.image.src | img_url: 'large' }}"   alt="{{ article.title }}">
            </a>
            {%if person_job != blank%}
            <span>{{ person_job }}</span>
            {%endif %}

            {%if article.content != blank %}
            <p class="desc">{{article.content | strip_html | truncatewords: 5}}</p>
            {%endif %}
            
            {% assign lis =  person_links | split: ' | ' %}
            {% assign lis_size = lis | size %}
              
            {%if settings.team_social_enable and lis_size > 0 %}
            <ul class="team-circle-social-network list-inline">
              {%for i in (1..4) %}
                {%capture social_i%}team_social_{{i}}{%endcapture%}
                {% if settings[social_i] != blank %}
                  <li><a target="_blank" href="{{lis[i] | url_escape }}"><i class="{{settings[social_i] }}"></i></a></li>
                {% endif %}
              {%endfor %}
            </ul>
            {% endif %}
              
          </div>
        </div>

        {%endif %}
    {%endfor %}
  </div>
</div>
{%endif%}