{% assign sourcedata = blogs[settings.testimonial_s3_data] %}
{% assign count = sourcedata.articles_count | size %}
{% assign blog_tag_filter = settings.testimonial_s3_data_tag %}

{%comment%}default :testi_person {%endcomment%} 
{%assign ii = 1 %}
{%assign j = 0 %}
{%assign item_per_slide = 2 %}
{%if blogs[settings.testimonial_s3_data] and count >= 1 %}

{%comment%}calculate the real number of testi_person tag to close item{%endcomment%}
{%assign size = 0 %}
{% for article in sourcedata.articles %}
	{% if article.tags contains blog_tag_filter and article.excerpt contains '[jvperson]' %}
		{%assign size = size | plus : 1%}
	{% endif%}
{%endfor %}

<div class="home-testimonial testimonial two-sides testimonials-3">
	<div class="container">
    {% include 'jv-sub-heading-box' %}
		<div class="slider-owl-single-item-nav home-directnav slider-directnav">
			<div class="wrap-item">

			    <div class="item">
				 {% for article in sourcedata.articles %}

			    {% if article.tags contains blog_tag_filter and article.excerpt contains '[jvperson]' %}
				      {% assign temp = article.excerpt | split:'[/jvperson]' | first %}
				      {% assign personcode = temp | split:'[jvperson]' | last %}
				      {% assign temp = personcode | split:'[/job]' | first %}
				      {% assign person_job = temp | split:'[job]' | last %}
				     	{% assign temp = personcode | split:'[/url]' | first %}
				      {% assign person_url = temp | split:'[url]' | last %}
							
							{%assign test =  ii | modulo:item_per_slide %}
							
			          {% if test == 0 %}
			            {% assign class_item = 'right'%}
			          {% else %}
			            {% assign class_item = 'left'%}
			        {% endif %}
								
									{% if test == 1 %}
								<div class="testimonial-page testimonial-page-{{class_item}}">
									<span class="click-button {{class_item}}-close"></span>
									<h2>{{ article.title }}</h2>
									{%if article.content != blank %}
									<p>{{article.content | strip_html | truncate: 200}}</p>
									{%endif%}
								</div>
								{% endif %}

								<div class="side-testimonial side-{{class_item}}">
									<div class="item-testimonial item-{{class_item}}">
										<a href="#" class="testimonial-thumb-link {{class_item}}-open">
											<div class="img" style="background-image: url({{ article.image.src | img_url: 'master' }}); background-size: cover; background-position: center center"></div>
										</a>
										<h2 class="testimonial-title"><a href="{{person_url}}">{{ article.title }}</a></h2>
										<span class="testimonial-job">{{person_job}}</span>                                
									</div>
								</div>

								{% if test == 0 %}
								<div class="testimonial-page testimonial-page-{{class_item}}">
									<span class="click-button {{class_item}}-close"></span>
									<h2>{{ article.title }}</h2>
									{%if article.content != blank %}
									<p>{{article.content | strip_html | truncate: 200}}</p>
									{%endif%}
								</div>
								{% endif %}
					
					   {%assign ii = ii | plus : 1 %}
							        
				      {%assign j = j | plus : 1 %}
			        {% if j == item_per_slide %}
			          {{'</div>'}}
			          {% assign j = 0 %}
			          {%if forloop.last == false and ii < size %}
			          <!-- open new item -->
			            {{'<div class="item">'}}
			          {% endif %}
			        {% endif %}
							
						 {% endif %} 

						{% endfor %}  

				<!-- </div> -->
				<!-- end item -->
			</div>
			<!-- end wrap-item -->
		</div>
	</div>
</div>
{% endif %} 