{% assign blogDataId = "sc_blog_alt" %}

{% capture blog_handle %}{{blogDataId}}_handle{%endcapture%}
{% capture blog_limit %}{{blogDataId}}_limit{%endcapture%}


{% capture blog_color_bg_custom_enable %}{{blogDataId}}_color_bg_custom_enable{%endcapture%}
{% capture blog_show_readmore %}{{blogDataId}}_show_readmore{%endcapture%}
{% capture blog_show_comment %}{{blogDataId}}_show_comment{%endcapture%}
{% capture blog_show_date %}{{blogDataId}}_show_date{%endcapture%}
{% capture blog_show_desc %}{{blogDataId}}_show_desc{%endcapture%}

{% capture blog_show_desc_length %}{{blogDataId}}_desc_length{%endcapture%}
{%assign desc_limit = settings[blog_show_desc_length] | plus: 0 %}

{% capture blog_show_author %}{{blogDataId}}_show_author{%endcapture%}

{%if settings.blog_general_icon_comment != blank %}
  {%assign icon_comment = settings.blog_general_icon_comment %}
{%else%}
   {%assign icon_comment ="lnr lnr-bubble"%}
{%endif%}
{%if settings.blog_general_icon_date != blank %}
  {%assign icon_date = settings.blog_general_icon_date %}
{%else%}
   {%assign icon_date ="lnr lnr-calendar-full"%}
{%endif%}
{%if settings.blog_general_icon_readmore != blank %}
  {%assign icon_readmore = settings.blog_general_icon_readmore %}
{%else%}
   {%assign icon_readmore ="lnr lnr-arrow-right-circle"%}
{%endif%}
{%if settings.blog_general_icon_user != blank %}
  {%assign icon_user = settings.blog_general_icon_user %}
{%else%}
   {%assign icon_user ="lnr lnr-user"%}
{%endif%}


{% assign blogs_list_grids = settings[blog_handle] %}
{% assign limit_item = settings[blog_limit] | plus: 0 %}
{% assign blog = blogs[blogs_list_grids] %}

{% assign count = blog.articles_count | size %}

{%if  blogs[blogs_list_grids] and count >= 1 %}

<div class="latest-post alt">
  <div class="container">
    <div class="mb-20">
      {%include 'jv-sub-heading-box'%}
    </div>
  </div>

  {% for article in blog.articles limit:limit_item %}

  {% assign class_item = forloop.index | modulo:2 %}
      {% if class_item == 0 %}
        {% assign class_item = 'right'%}
      {% else %}
        {% assign class_item = 'left'%}
    {% endif %}

  <div class="item-latest-post item-{{class_item}}" >

      <div class="container">
        <div class="row">
         {%if article.image %}
          <div class="img-xs col-xs-12" style="background-image: url({{ article.image.src | img_url: '1024x1024' }}); background-size: cover; background-position: center center"></div>
          {%else%}
            <div class="img-xs col-xs-12" style="background-image: url({{ 'jv_noimage.jpg' | asset_url }}); background-size: cover; background-position: center center"></div>
          {%endif %}

         {% if class_item == 'right'%}
          <div class="col-md-6 col-sm-6 col-xs-12 hidden-xs">
            <div class="content-empty">
              {%if article.image%}
              <div class="img" style="background-image: url({{ article.image.src | img_url: '1024x1024' }}); background-size: cover; background-position: center center"></div>
              {%else%}
                <div class="img-xs col-xs-12" style="background-image: url({{ 'jv_noimage.jpg' | asset_url }}); background-size: cover; background-position: center center"></div>
              {%endif%}
            </div>
          </div>
          {% endif %}

          <div class="col-md-6 col-sm-6 col-xs-12" >
            <div class="latest-post-content {%if settings[blog_color_bg_custom_enable]%}blog__color--custom{%endif%} ">
              <h3><a href="{{ article.url }}">{{ article.title }}</a></h3>

              {% if settings[blog_show_desc] %}
              <p>{{ article.content| strip_html  | truncatewords: desc_limit }}</p>
              {% endif %}
              <div class="latest-post-info">
                <ul class="list-inline">
                  
                  {%if settings[blog_show_date] %}
                  <li>
                    <a href="#"><span class="{{icon_date}}"></span></a>
                    <time  datetime="{{ article.published_at | date: '%Y-%m-%d' }}">{{ article.published_at | date: format: 'month_day_year' }}</time>
                  </li>
                  {%endif %}
                  
                  {%if settings[blog_show_comment] %}
                  <li>
                    <a href="#"><span class="{{icon_comment}}"></span></a>
                    <span>{{ article.comments_with_count }} {{'blogs.article.comment' | t}}</span>
                  </li>
                  {%endif %}
                  
                  {%if settings[blog_show_author] %}
                  <li>
                    <a href="#"><span class="{{icon_user}}"></span></a>
                    <span>{{'blogs.article.postedby'| t}} : {{ article.author }}</span>
                  </li>
                  {% endif %}
                
                </ul>
              </div>

              {%if settings[blog_show_readmore] %}
              <a href="{{ article.url }}" class="readmore"><span class="{{icon_readmore}}"></span> {{'blogs.article.read_more' | t}}</a>
              {% endif %}
            </div>
          </div>

          {% if class_item == 'left'%}
          <div class="col-md-6 col-sm-6 col-xs-12 hidden-xs">
            <div class="content-empty"> 
            {%if article.image%}
              <div class="img" style="background-image: url({{ article.image.src | img_url: '1024x1024' }}); background-size: cover; background-position: center center"></div>
               {%else%}
              <div class="img-xs col-xs-12" style="background-image: url({{ 'jv_noimage.jpg' | asset_url }}); background-size: cover; background-position: center center"></div>
            {%endif%}
            </div>
          </div>
          {% endif %}

        </div>
      </div>
    </div>
    <!-- End Item -->

  {% endfor %}
</div>
{%else %}
  <div class="row">
    <div class="col-md-12 mb-30">Navigate to <b>Theme Setting</b> &gt; <b>SC: B4 Blog style 4</b> . Select datasource from your Blog </div>
  </div>
{%endif%}