{% assign blogs_list_grids = settings.banner_product_datablog %}
{% assign sourcedata = blogs[blogs_list_grids] %}
{% assign count = sourcedata.articles_count %}
{% assign number_cols = settings.banner_product_columns | plus: 0 %}
{% assign blog_tag_filter = settings.banner_product_datablog_tag %}

{%comment%}default :banner_styleproduct {%endcomment%} 

{%if count > 1 %}
<div class="row product-advert">
   {% for article in sourcedata.articles %}
    
    {% if article.tags contains blog_tag_filter and article.excerpt contains '[jvbanner]' %}
      {% assign temp = article.excerpt | split:'[/jvbanner]' | first %}
      {% assign bannercode = temp | split:'[jvbanner]' | last %}
      
      {% assign temp = bannercode | split:'[/subtitle]' | first %}
      {% assign banner_subtitle = temp | split:'[subtitle]' | last %}

      {% assign temp = bannercode | split:'[/url]' | first %}
      {% assign banner_url = temp | split:'[url]' | last %}

      {% assign temp = bannercode | split:'[/btn]' | first %}
      {% assign banner_btn = temp | split:'[btn]' | last %}


			 	{% if article.tags contains 'item-lead' %}
	      {% assign class_item_adv = 'leading' %}
	      	{%else%}
	      {% assign class_item_adv = 'item' %}
	      {% endif %}

				<div class="col-lg-{{12 | divided_by: number_cols }} col-md-{{12 | divided_by: number_cols }} col-sm-6 col-xs-12">
					<div class="{{class_item_adv}}-box-adv product-box-adv">

						<a href="{{settings[banner_link]}}" class="product-thumb-link">
							{{ article | img_url: '1024x1024' | img_tag: article.title, 'img-responsive'  }}
							</a>

						{% if class_item_adv == 'leading' %}
						<div class="{{class_item_adv}}-text-adv">
							
							{%if article.title != blank %}
							<h3>{{ article.title }}</h3>
							{%endif%}
							
							{%if banner_subtitle != blank %}
							<h2>{{banner_subtitle}}</h2>
							{%endif%}
							
							{%if banner_btn != blank %}
							<a href="{{banner_url}}">{{banner_btn }}</a>
							{%endif %}
						</div>
						{% else %}
							{%if article.title != blank %}
							<h2 class="item-text-adv">{{article.title}}</h2>
							{%endif %}
							
							{%if banner_btn != blank %}
							<a href="{{banner_url}}" class="btn-link-default"><span>{{banner_btn}}</span></a>
							{%endif %}
						{% endif %}
					</div>
				</div>
    {%endif %}
  {%endfor %}
</div>
{%endif%}


{% comment %}
{% assign banner_name = "banner_pa" %}

<div class="product-advert">
	<div class="container-fluid">
		<div class="row">

		 {% for i in (1..4) %}

		  {% capture banner_enable %}{{banner_name}}_item_{{i}}{% endcapture %}
  		{%if settings[banner_enable] %}

	      {% capture banner_img %}{{banner_name}}_item_{{ i }}_img.png{% endcapture %}
	      {% capture banner_title %}{{banner_name}}_item_{{ i }}_title{% endcapture %}
	      {% capture banner_subtitle %}{{banner_name}}_item_{{ i }}_subtitle{% endcapture %}
	      {% capture banner_btn %}{{banner_name}}_item_{{ i }}_btn{% endcapture %}
	      {% capture banner_link %}{{banner_name}}_item_{{ i }}_link{% endcapture %}

	      {% if i == 1 %}
	      {% assign class_item_adv = 'leading' %}
	      	{%else%}
	      {% assign class_item_adv = 'item' %}
	      {% endif %}

				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
					<div class="{{class_item_adv}}-box-adv product-box-adv">
						<a href="{{settings[banner_link]}}" class="product-thumb-link">
							<img class="img-responsive" src="{{banner_img | asset_url }}" alt="" /></a>
						

						{% if i == 1 %}
						<div class="{{class_item_adv}}-text-adv">
							<h3>{{settings[banner_title]}}</h3>
							<h2>{{settings[banner_subtitle]}}</h2>
							<a href="#">{{settings[banner_btn]}}</a>
						</div>
						{% else %}
								<h2 class="item-text-adv">{{settings[banner_title]}}</h2>
								<a href="#" class="btn-link-default"><span>{{settings[banner_btn]}}</span></a>
						{% endif %}


					</div>
				</div>

			{% endif %}

	  {% endfor %}
		
		</div>
	</div>
</div>
{% endcomment %}