<div class="custom-service">
	<div class="container">
		<div class="box-title">
			<h2>services custom</h2>
			<p>Continuing the legacy of excellence</p>
		</div>
		<div class="content-custom-service">
			<div class="row">

			   {% for i in (1..6) %}

      {% capture service_img %}services_bgimg.jpg{% endcapture %}
      {% capture service_title %}service_item_{{ i }}_title{% endcapture %}
      {% capture service_desc %}service_item_{{ i }}_desc{% endcapture %}
      {% capture service_icon %}service_item_{{ i }}_icon{% endcapture %}
      {% capture service_color %}service_item_{{ i }}_color{% endcapture %}
      {% capture service_link %}service_item_{{ i }}_link{% endcapture %}

      {% assign class_box = 'box-left' %}
      {% if i == 4 %}
        {% assign class_box = 'box-right'%}
      {% endif %}
			
			{% if i == 1 or i == 4 %}
				<div class="col-md-4 col-sm-4 col-sx-12">
					<div class="{{class_box}}">
			{% endif %}

						<div class="item-custom-service {{settings[service_color]}}">

							{% if i >=4 and i <= 6 %}
							<div class="item-service-thumb">
								<a href="{{settings[service_link]}}">
								{% if settings[service_icon] != blank  %}
									<span class="{{settings[service_icon]}}"></span>
								{% endif %}
								</a>
							</div>
							{% endif %}

							<div class="item-service-text">
								{% if settings[service_title] != blank  %}
									<h2 class="sub-title"><a href="{{settings[service_link]}}">{{settings[service_title]}}</a></h2>
								{% endif %}
								{% if settings[service_desc] != blank  %}
									<p>{{settings[service_desc]}}</p>
								{% endif %}
							</div>

							{% if i <= 3 %}
							<div class="item-service-thumb">
								<a href="{{settings[service_link]}}">
								{% if settings[service_icon] != blank  %}
									<span class="{{settings[service_icon]}}"></span>
								{% endif %}
								</a>
							</div>
							{% endif %}

						</div>
				
				{% if i == 3 or i == 6 %}
				</div>
				</div>
				{% endif %}

				{% if i == 3 %}
				<div class="col-md-4 col-sm-4 col-sx-12">
					<div class="service-thumb">
						{{ service_img | asset_url |  img_tag: services_bgimg }}
					</div>
				</div>
				{% endif %}


		 {% endfor %}

			</div>
		</div>
	</div>
</div>
<!-- End Custom Service -->