{% assign var_progress = "pbar" %}
{% assign var_progress_length = 5 %}

{% for i in (1..var_progress_length) %}
	
	{% capture penable %}{{var_progress}}_item_{{ i }}_enable{% endcapture %}

	{%if settings[penable]%}
	
		{% capture ptitle %}{{var_progress}}_item_{{ i }}_title{% endcapture %}
		{% capture pcolor %}{{var_progress}}_item_{{ i }}_color{% endcapture %}
		{% capture pvalue %}{{var_progress}}_item_{{ i }}_value{% endcapture %}
		
		{% capture psmall %}{{var_progress}}_item_{{ i }}_small{% endcapture %}
		

		<div class="progress-item">
			<span class="pb_label">{{settings[ptitle]}}</span>
			<span class="pb_unit">{{settings[pvalue]}}%</span>
			<div class="progress {%if settings[psmall]%}sm{%endif%}">
				<div class="progress-bar" role="progressbar" aria-valuenow="{{settings[pvalue]}}"
					aria-valuemin="0" aria-valuemax="100" style="background:{{settings[pcolor]}}; width:{{settings[pvalue]}}%">
				</div>
			</div>
		</div>

	{% endif %}

{% endfor %}