{% assign blogDataId = "sc_blog_singleslider" %}

{% capture blog_handle %}{{blogDataId}}_handle{%endcapture%}
{% capture blog_limit %}{{blogDataId}}_limit{%endcapture%}

{% assign blogs_list_grids = settings[blog_handle] %}
{% assign limit_item = settings[blog_limit] | plus: 0 %}
{% assign blog = blogs[blogs_list_grids] %}

{% if settings[blog_limit]  == blank %}
{% assign limit_item = 9 %}
{% endif %}

{% capture blog_color_bg_custom_enable %}{{blogDataId}}_color_bg_custom_enable{%endcapture%}

{% capture blog_show_readmore %}{{blogDataId}}_show_readmore{%endcapture%}
{% capture blog_show_date %}{{blogDataId}}_show_date{%endcapture%}
{% capture blog_show_desc %}{{blogDataId}}_show_desc{%endcapture%}
{% capture blog_show_author %}{{blogDataId}}_show_author{%endcapture%}
{% capture blog_show_comment %}{{blogDataId}}_show_comment{%endcapture%}


{% capture blog_show_desc_length %}{{blogDataId}}_desc_length{%endcapture%}
{%assign desc_limit = settings[blog_show_desc_length] | plus: 0 %}


{%if settings.blog_general_icon_comment != blank %}
  {%assign icon_comment = settings.blog_general_icon_comment %}
{%else%}
   {%assign icon_comment ="lnr lnr-bubble"%}
{%endif%}
{%if settings.blog_general_icon_date != blank %}
  {%assign icon_date = settings.blog_general_icon_date %}
{%else%}
   {%assign icon_date ="lnr lnr-calendar-full"%}
{%endif%}
{%if settings.blog_general_icon_readmore != blank %}
  {%assign icon_readmore = settings.blog_general_icon_readmore %}
{%else%}
   {%assign icon_readmore ="lnr lnr-arrow-right-circle"%}
{%endif%}
{%if settings.blog_general_icon_user != blank %}
  {%assign icon_user = settings.blog_general_icon_user %}
{%else%}
   {%assign icon_user ="lnr lnr-user"%}
{%endif%}


<div class="home-latest-news">
  
  <div class="container">
    {%include 'jv-sub-heading-box' %}
  </div>

  <div class="wrap-latest-news-slider {%if settings[blog_color_bg_custom_enable]%}blog__color--custom{%endif%}">
    <div class="container">
      <div class="default-directnav home-directnav slider-directnav slider-owl-single-item-nav">
        <div class="wrap-item">
        
         <div class="item">
          
        {% for article in blog.articles limit:limit_item %}

            <div class="item-home-latest-news {%if forloop.last%} last {%endif%}">
              <div class="row">
                
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <div class="home-latest-news-thumb">
                  {% assign image_alt = article.title | escape %}
                    {%if article.image %}
                      {{ article | img_url: '1024x1024' | img_tag: image_alt, 'article__image' | link_to: article.url }}
                    {% else %}
                      <img src="{{ 'jv_noimage.jpg' | asset_url }}" alt="jv_noimage.jpg"/>
                    {% endif %}
                    
                  </div>
                </div>

                <div class="col-md-6 col-sm-6 col-xs-12">
                  <div class="home-latest-news-info">
                    <h3><a href="#">{{ article.title }}</a></h3>
                    <div class="latest-post-info">
                      <ul class="list-inline">
                        {%if settings[blog_show_date] %}
                        <li>
                          <a href="#"><span class="{{icon_date}}"></span></a>
                          <time  datetime="{{ article.published_at | date: '%Y-%m-%d' }}">{{ article.published_at | date: format: 'month_day_year' }}</time>
                        </li>
                        {%endif %}
                        
                        {%if settings[blog_show_comment] %}
                        <li>
                          <a href="{{ article.url }}#comments"><span class="{{icon_comment}}"></span></a>
                          <span>{{ article.comments_count }} {{'blogs.article.comment' | t}}</span>
                        </li>
                        {%endif %}
                        
                        {%if settings[blog_show_author] %}
                        <li>
                          <a href="#"><span class="{{icon_user}}"></span></a>
                          <span>{{'blogs.article.postedby'| t}} : {{ article.author }}</span>
                        </li>
                        {%endif %}
                       
                      </ul>
                    </div>

                    {% if article.content != blank and settings[blog_show_desc] %}
                    <p class="desc">{{ article.content | strip_html | truncatewords: desc_limit }}</p>
                    {% endif %}

                    {%if settings[blog_show_readmore] %}
                    <a href="{{ article.url }}" class="btn-link-default">{{'blogs.article.read_more' | t}}</a>
                    {%endif %}
                  </div>
                </div>
              </div>
            </div>
          
            {%assign test =  forloop.index | modulo:3 %}
            {% if test == 0 %}
              </div>
              {%if forloop.last == false %}
              <!-- open new item -->
                <div class="item">
              {% endif %}
            {% endif %}

          {% endfor %}
          
        </div><!-- End Item -->

        </div>
        <!-- wrap-item -->
      </div>
    </div>
  </div>
</div>
<!-- End Latest-news -->