{% assign sourcedata = blogs[settings.testimonial_s2_data] %}
{% assign count = sourcedata.articles_count | size %}
{% assign number_cols = settings.testimonial_s2_columns | plus: 0 %}
{% assign blog_tag_filter = settings.testimonial_s2_data_tag %}

{%comment%}default :testi_person {%endcomment%} 

{%if blogs[settings.testimonial_s2_data] and count >= 1 %}

<div class="slider-owl-single-item-paging-fade testimonial-slider testimonials-2">
{% include 'jv-sub-heading-box' %}
<div class="paginav-slider">
	<div class="wrap-item">
		 {% for article in sourcedata.articles %}

	    {% if article.tags contains blog_tag_filter and article.excerpt contains '[jvperson]' %}
				
	      {% assign temp = article.excerpt | split:'[/jvperson]' | first %}
	      {% assign personcode = temp | split:'[jvperson]' | last %}
	      
	      {% assign temp = personcode | split:'[/job]' | first %}
	      {% assign person_job = temp | split:'[job]' | last %}

	     	{% assign temp = personcode | split:'[/url]' | first %}
	      {% assign person_url = temp | split:'[url]' | last %}

	      <div class="item">
					<div class="testimo-item">
						<div class="row">
							<div class="col-md-6 col-sm-6 col-xs-12">
								<div class="testimo-content-left">
									<img class="testimo-thumb" src="{{ article.image.src | img_url: 'master' }}" alt="" />
									<div class="info-testimo-author">
										<a href="{{person_url | url_escape }}" class="testimo-avatar">
											<div class="img" style="background-image: url({{ article.image.src | img_url: 'master' }}); background-size: cover; background-position: center center">
											</div>
										</a>
										<h3 class="testimo-name"><a href="{{person_url | url_escape }}">{{ article.title }}</a></h3>
										{% if person_job != blank %}
										<p class="testimo-job">{{person_job}}</p>
										{% endif %}
									</div>
								</div>
							</div>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<div class="testimo-content-right">
									{%if article.content != blank %}
									<p class="testimo-desc">{{article.content | strip_html | truncate: 170}}</p>
									{% endif %}
									<span class="testimo-date">{{ article.published_at | date: "%a, %b %d, %y" }}</span>
								</div>
							</div>
						</div>
					</div>
				</div>
	      {%endif %}
	  {%endfor %}
		</div>
	</div>
</div>
{% else %}
  <div class="row">
    <div class="col-md-12">Navigate to <a class="color-primary" href="/admin/themes/{{ theme.id }}/settings">Customize theme</a> &gt; <b>SC: Testimonials</b>  &gt; <b>Testimonials 2</b>. Select datasource from your Blog (Article must created with Testimonial style format. Please check document)</div>
  </div>
{%endif%}
