{% assign blogs_list_grids = settings.banner_4_datablog %}
{% assign sourcedata = blogs[blogs_list_grids] %}
{% assign count = sourcedata.articles_count %}
{% assign blog_tag_filter = settings.banner_4_datablog_tag %}

{%comment%}default :banner_style4 {%endcomment%} 

{%if count >= 1 %}
<div class="banner advert">
<div class="row">
   {% for article in sourcedata.articles %}
    
    {% if article.tags contains blog_tag_filter and article.excerpt contains '[jvbanner]' %}
      {% assign temp = article.excerpt | split:'[/jvbanner]' | first %}
      {% assign bannercode = temp | split:'[jvbanner]' | last %}
      
      {% assign temp = bannercode | split:'[/subtitle]' | first %}
      {% assign banner_subtitle = temp | split:'[subtitle]' | last %}

      {% assign temp = bannercode | split:'[/url]' | first %}
      {% assign banner_url = temp | split:'[url]' | last %}

      {% assign temp = bannercode | split:'[/btn]' | first %}
      {% assign banner_btn = temp | split:'[btn]' | last %}

      {% assign class_item = forloop.index | modulo:2 %}
      {% if class_item == 0 %}
        {% assign class_item = 'right'%}
      {% else %}
        {% assign class_item = 'left'%}
      {% endif %}

      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="item-advert {{ class_item }}">
          <div class="thumb-adv">
            <a href="{{banner_url}}">
              {{ article | img_url: '1024x1024' | img_tag: article.title, 'img-responsive'  }}
            </a>
          </div>
          <div class="text-adv">
           
            {% if banner_subtitle != blank %}
            <h3 class="sub-title">{{ banner_subtitle }}</h3>
            {% endif %} 
            
            {% if article.title != blank  %}
              <h2 class="title">{{ article.title }}</h2>
            {% endif %}

            {% if article.content  != blank %}
            <p class="text">{{ article.content | strip_html | truncatewords: 5 }}</p>
            {% endif %}

            {% if banner_btn  != blank %}
            <a href="{{ banner_url }}" class="btn-link-default">{{ banner_btn }}</a>                            
            {% endif %}         
          
          </div>

        </div>
      </div>

      {%endif %}

  {%endfor %}
  </div>
</div>
{%endif%}



{%assign banner_name = 'banner4' %}
<div class="banner advert">

  <div class="row">
    {% for i in (1..2) %}

 {% capture banner_enable %}{{banner_name}}_item_{{i}}{% endcapture %}

  {%if settings[banner_enable] %}
      {% capture banner_img %}{{banner_name}}_item_{{ i }}_img.png{% endcapture %}
      {% capture banner_title %}{{banner_name}}_item_{{ i }}_title{% endcapture %}
      {% capture banner_subtitle %}{{banner_name}}_item_{{ i }}_subtitle{% endcapture %}
      {% capture banner_text %}{{banner_name}}_item_{{ i }}_text{% endcapture %}
      {% capture banner_btn %}{{banner_name}}_item_{{ i }}_btn{% endcapture %}
      {% capture banner_link %}{{banner_name}}_item_{{ i }}_link{% endcapture %}

      {% assign class_item = i | modulo:2 %}
        {% if class_item == 0 %}
          {% assign class_item = 'right'%}
        {% else %}
          {% assign class_item = 'left'%}
      {% endif %}

    <div class="col-md-6 col-sm-6 col-xs-12">
      <div class="item-advert {{ class_item }}">
        <div class="thumb-adv">
          <a href="#"><img class="img-responsive" src=" {{ banner_img | asset_url}}" alt="{{banner_img}}">
          </a>
        </div>
        <div class="text-adv">
         
          {% if settings[banner_subtitle] != blank %}
          <h3 class="sub-title">{{ settings[banner_subtitle] }}</h3>
          {% endif %} 
          
          {% if settings[banner_title] != blank  %}
            <h2 class="title">{{ settings[banner_title] }}</h2>
          {% endif %}

          {% if settings[banner_text]  != blank %}
          <p class="text">{{ settings[banner_text] }}</p>
          {% endif %}

          {% if settings[banner_btn]  != blank %}
          <a href="{{ settings[banner_link] }}" class="btn-link-default">{{ settings[banner_btn] }}</a>                            
          {% endif %}         
        
        </div>

      </div>
    </div>

    {% endif %}
  

    {% endfor %}
  </div>

</div>
<!-- End Advert -->
