{% comment %}
required: listProduct

{%unless listProduct%}
{% assign listProduct = "sc_product_tab_" %}
{% endunless %}

{% endcomment %}

{% if tab_style == '1'%}
	{%assign class_wrap = 'product-best-sale tab_style1'%}
{% elsif tab_style == '2' %}
	{%assign class_wrap ='product-list-filter tab_style2' %}
{% elsif tab_style == '3' %}
	{%assign class_wrap ='product-best-sale style2 tab_style3' %}
{% endif %}

{% capture listProductFilter %}{{listProduct}}filter_enable{%endcapture%}
{% capture listProductShowMoreBtn %}{{listProduct}}showmore_enable{%endcapture%}

<div class="product-tabs-grid-simple-wrapper {{class_wrap}}">
	<div class="container">

		{%assign class_tab = "nav-tabs-bestsale" %}
		{% if tab_style == '2' %}
			{%assign class_tab = "nav-tabs-filter" %}

		{% elsif tab_style == '3' %}
			{%assign class_tab = "nav-tabs-border" %}
		{% endif %}

		<div class="title-product-best-sale">
			<div class="row">
				<div class="heading-row-wrapper">
					
					<h2 class="title-normal">{{heading_title}}</h2>
					
					{%if settings[listProductFilter]%}
					<div class="filter-product">
						<a href="#" class="btn-filter style-border-left">{{'collections.general.filter' | t}}</a>
					</div>
					<aside  data-id="collectionFilters" class="box-attr-filter 1">
            {% include 'collection-sidebar-filter' %}
           </aside>
          {% endif %}

					<div class="{{class_tab}}">
						<ul role="tablist" class="nav nav-tabs">

						{% for i in (1..4) %}
							{% capture featured_row %}{{listProduct}}{{ i }}{% endcapture %}
							{% capture featured_row_enable %}{{listProduct}}{{ i }}_enable{% endcapture %}
							{% capture featured_row_icon %}{{listProduct}}{{ i }}_icon{% endcapture %}
							{% capture row_limit_setting %}{{listProduct}}{{ i }}_limit{% endcapture %}
							{% assign featured_row = settings[featured_row] %}

							{% if collections[featured_row] != empty and settings[featured_row_enable] %}
								{% assign row_limit_setting = settings[row_limit_setting] | plus: 0 %}
							
								{% if collections[featured_row].all_products_count > 0 and collections[featured_row].title != "" %}
								<li class="{% if i == 1 %} active {% endif %}" role="presentation">
									<a data-toggle="tab" role="tab" href="#{{listProduct}}_product-grid-simple--tab{{ i }}"><span class="{{settings[featured_row_icon]}}"></span> {% include 'featured-row-title' %}</a>
								</li>
								{% endif %}
							{% endif %}
						{% endfor %}
					
						</ul>
					</div>
					
				</div>

			</div>
		</div>

		<div class="tab-content">
			
			{% for i in (1..4) %}
				{% capture featured_row_enable %}{{listProduct}}{{ i }}_enable{% endcapture %}
				{% capture featured_row %}{{listProduct}}{{ i }}{% endcapture %}
				{% capture row_limit_setting %}{{listProduct}}{{ i }}_limit{% endcapture %}
				{% assign featured_row = settings[featured_row] %}

				{% if collections[featured_row] != empty and settings[featured_row_enable] %}
					{% assign row_limit_setting = settings[row_limit_setting] | plus: 0  %}

					{% if collections[featured_row].all_products_count > 0 and collections[featured_row].title != ""  %}
					<div id="{{listProduct}}_product-grid-simple--tab{{ i }}" class="tab-pane {% if i == 1 %} active {% endif %} {%if product_loadmore == true%}list-product-loadmore{%endif%}" role="tabpanel">
						{% include 'featured-row-content' with leading_product: false, class_col: 'col-md-3 col-sm-6 col-xs-12', product_loadmore: settings[listProductShowMoreBtn] , leading_product_image:'', leading_time: '', quickview_big_enable: true %}
					{% endif %}								
					</div>
				{%endif %}

				{%if collections[featured_row] == empty %}
					<p class="mb-30">
             Select collection in <a class="color-primary" href="/admin/themes/{{ theme.id }}/settings">Customize theme</a> &gt; 
            {%case listProduct %}
            	{%when "sc_product_tab_grid_style1_" %} 
            	<b>SC: P2- Tab grid Filter 1</b> 
            	{%when "sc_product_tab_grid_style2_"%} 
            	<b>SC: P3- Tab grid Filter 2</b>
            	{%when "sc_product_tab_grid_style3_"%}
            	<b>SC: P4- Tab grid Filter 3</b>
            	{% endcase %}
            - Tab {{i}} to display products
				</p>
				{% endif %}
			{% endfor %}
		
			<!-- End tab-content 1-->
		</div>
	</div>
</div>

<script>
	function randomID() {
  return '_' + Math.random().toString(36).substr(2, 9);
};

var list = jQuery('.product-tabs-grid-simple-wrapper .nav a[role=tab]');
var panels = jQuery('.product-tabs-grid-simple-wrapper .tab-content .tab-pane');

for (var i = list.length - 1; i >= 0; i--) {
	var random =  randomID();
	jQuery(list[i]).attr('href', jQuery(list[i]).attr('href') + random);
	jQuery(panels[i]).attr('id', jQuery(panels[i]).attr('id') + random);
}

</script>
