{% comment %}

countdown_enable
countdown_animation
countdown_canvas_color

countdown_date
countdown_date_text
countdown_date_color

countdown_hour
countdown_hour_text
countdown_hour_color

countdown_minute
countdown_minute_text
countdown_minute_color

countdown_second
countdown_second_text
countdown_second_color

countdown_wrap

{% endcomment %}

{%assign var_count_down = 'countdown' %}

{% capture cd_enable %}{{var_count_down}}_enable{% endcapture %}

{%if cd_enable %}

	{% capture cd_animation %}{{var_count_down}}_animation{% endcapture %}

	{% capture cd_canvas_color %}{{var_count_down}}_canvas_color{% endcapture %}
	{% capture cd_background_color %}{{var_count_down}}_background_color{% endcapture %}

	{% capture cd_date %}{{var_count_down}}_date{% endcapture %}
	{% capture cd_date_text %}{{var_count_down}}_date_text{% endcapture %}
	{% capture cd_date_color %}{{var_count_down}}_date_color{% endcapture %}

	{% capture cd_hour %}{{var_count_down}}_hour{% endcapture %}
	{% capture cd_hour_text %}{{var_count_down}}_hour_text{% endcapture %}
	{% capture cd_hour_color %}{{var_count_down}}_hour_color{% endcapture %}

	{% capture cd_minute %}{{var_count_down}}_minute{% endcapture %}
	{% capture cd_minute_text %}{{var_count_down}}_minute_text{% endcapture %}
	{% capture cd_minute_color %}{{var_count_down}}_minute_color{% endcapture %}

	{% capture cd_second %}{{var_count_down}}_second{% endcapture %}
	{% capture cd_second_text %}{{var_count_down}}_second_text{% endcapture %}
	{% capture cd_second_color %}{{var_count_down}}_second_color{% endcapture %}

	{%if countdown_wrap == 'countdown--big' %}

		{%if settings[cd_date] and settings[cd_hour] and settings[cd_minute] and settings[cd_second] %}
			{% assign countdown_wrap = "countdown--big" %}
		{% else %}
			{% assign countdown_wrap = "countdown--small" %}
		{% endif %}
	{% endif %}

	{% assign countdown_wrap = "countdown--small" %}

	{%unless countdown_time %}
		{%assign countdown_time = "10/31/2016" %}
	{%endunless %}

<div class="countdown-wrap {{countdown_wrap}}">
	<div data-date="{{countdown_time}}" class="jv-countdown hotdeal-countdown" data-canvascolor="{{settings[cd_canvas_color]}}" data-circlegbcolor="{{settings[cd_background_color]}}" data-ani="{{settings[cd_animation]}}" data-dateshow="{{settings[cd_date]}}" data-datetext="{{settings[cd_date_text]}}" data-hourcolor="{{settings[cd_hour_color]}}" data-hourshow="{{settings[cd_hour]}}" data-hourtext="{{settings[cd_hour_text]}}" data-hourcolor="{{settings[cd_hour_color]}}"  data-minshow="{{settings[cd_minute]}}" data-mintext="{{settings[cd_minute_text]}}" data-mincolor="{{settings[cd_minute_color]}}" data-secshow="{{settings[cd_second]}}" data-sectext="{{settings[cd_second_text]}}" data-seccolor="{{settings[cd_second_color]}}">
	</div>
</div>


{% endif %}