{% comment %}
- required : multiple of listProduct for each tab
- theme setting required format:
	+ {{row}}_enable
	+ {{row}}_limit
	+ {{row}}_icon

{% endcomment %}

{% assign listProduct = "sc_product_tab_grid_" %}


{% capture listProduct_heading %}{{listProduct}}heading{% endcapture %}
{% capture listProduct_style %}{{listProduct}}style{% endcapture %}

{%include 'jv-sc-product-tabs-grid--header-navtab' with listProduct_heading: listProduct_heading, listProduct_style: listProduct_style %}


<div class="product-grid tab-content">
	{% for i in (1..4) %}
		{% capture featured_row_enable %}{{listProduct}}{{ i }}_enable{% endcapture %}
		{% capture featured_row %}{{listProduct}}{{ i }}{% endcapture %}
		{% capture row_limit_setting %}{{listProduct}}{{ i }}_limit{% endcapture %}

		{%capture leading_product_image %}{{listProduct}}{{i}}_product_lead_img.png {%endcapture%}
		{%capture leading_product %}{{listProduct}}{{i}}_product {%endcapture%}

		{%capture leading_time%}{{listProduct}}{{i}}_product_time{%endcapture%}
		
		
		{% assign handlep = settings[leading_product] %}
		{{handlep}}
		
		{%comment %}TODO: temp{%endcomment%}
		{% assign leading_product = 'example-t-shirt' %}
		

		{% if settings[featured_row_enable] and settings[featured_row] != blank %}
			{% assign featured_row = settings[featured_row] %}
			{% assign row_limit_setting = settings[row_limit_setting] | plus: 0  %}

			{% unless collections[featured_row].all_products_count == 0 %}
				<div role="tabpanel" class="tab-pane fade  {% if i == 1 %} in active  {% else %} undefined {% endif %}" id="tabgrid_tab{{ i }}">
				
				{% unless collections[featured_row].all_products_count == 0 %}
					{% include 'featured-row-content' with class_col: 'col-md-3 col-sm-6 col-xs-12'  with leading_product: leading_product, leading_product_image:leading_product_image, leading_time: leading_time  %}
				{% endunless %}

				</div>
			{% endunless %}

		{% endif %}
	{% endfor %}
</div>

{%include 'jv-sc-product-tabs-grid-simple' with tab_style:'1'%}
{%include 'jv-sc-product-tabs-grid-simple' with tab_style:'2' %}




