<div class="row nav-tabs-block-wrap">
	<div class="col-md-2 col-sm-2 col-xs-12">
		<div class="nav-tabs-border nav-tabs-block">
			<ul class="nav nav-tabs" role="tablist">
			{% for i in (1..4) %}
				{% capture tab_item_title %}tab_item_{{ i }}_title{% endcapture %}
				{% capture tab_item_icon %}tab_item_{{ i }}_icon{% endcapture %}
				{% capture tab_item_text %}tab_item_{{ i }}_text{% endcapture %}

				{% if settings[tab_item_title] != blank %}
				<li role="presentation" class="{% if i == 1 %} active {% endif %}"><a href="#tab-block-item{{i}}" aria-controls="tab-block-item{{i}}" role="tab" data-toggle="tab">{{settings[tab_item_title]}}</a></li>
					{% endif %}  
				{% endfor %}
			</ul>
		</div>
	</div>

	<!-- Tab panes -->
	<div class="col-md-10 col-sm-10 col-xs-12">	
	<div class="tab-content tab-content-border">
	{% for i in (1..4) %}
		{% capture tab_item_title %}tab_item_{{ i }}_title{% endcapture %}
		{% capture tab_item_icon %}tab_item_{{ i }}_icon{% endcapture %}
		{% capture tab_item_text %}tab_item_{{ i }}_text{% endcapture %}

		{% if settings[tab_item_title] != blank %}
		
				<div role="tabpanel" class="tab-pane {% if i == 1 %} active {% endif %}" id="tab-block-item{{i}}">
					<p>{{settings[tab_item_text]}}</p>
				</div>
		{% endif %}  
	{% endfor %}

	</div>
	</div>
</div>

<script>
	function randomID() {
  return '_' + Math.random().toString(36).substr(2, 9);
};

if(jQuery('.nav-tabs-block-wrap').length > 1)
{

	var list = jQuery('.nav-tabs-block-wrap .nav a[role=tab]');
	var panels = jQuery('.nav-tabs-block-wrap .tab-content .tab-pane');

	for (var i = list.length - 1; i >= 0; i--) {
		var random =  randomID();
		jQuery(list[i]).attr('href', jQuery(list[i]).attr('href') + random);
		console.log(random);
		jQuery(panels[i]).attr('id', jQuery(panels[i]).attr('id') + random);
		console.log(random);
	}
}

</script>
