{% assign blogs_list_grids = settings.banner_2_datablog %}
{% assign sourcedata = blogs[blogs_list_grids] %}
{% assign count = sourcedata.articles_count %}
{% assign number_cols = settings.banner_2_columns | plus: 0 %}
{% assign blog_tag_filter = settings.banner_2_datablog_tag %}

{%comment%}default :banner_style2 {%endcomment%} 

{%if count >= 1 %}
<div class="row">
   {% for article in sourcedata.articles %}
    
    {% if article.tags contains blog_tag_filter and article.excerpt contains '[jvbanner]' %}
        {% assign temp = article.excerpt | split:'[/jvbanner]' | first %}
        {% assign bannercode = temp | split:'[jvbanner]' | last %}
        
        {% assign temp = bannercode | split:'[/subtitle]' | first %}
        {% assign banner_subtitle = temp | split:'[subtitle]' | last %}

        {% assign temp = bannercode | split:'[/url]' | first %}
        {% assign banner_url = temp | split:'[url]' | last %}

        {% assign temp = bannercode | split:'[/btn]' | first %}
        {% assign banner_btn = temp | split:'[btn]' | last %}

        <div class="col-md-{{12 | divided_by: number_cols }} col-sm-{{12 | divided_by: number_cols }} col-xs-12">
          <div class="banner-box banner-style2">
            <a href="{{banner_url}}" class="banner-box-link">
              {{ article | img_url: '1024x1024' | img_tag: article.title, 'article__image' }}
            </a>
            <div class="banner-box-info">
              {% if article.content  != blank %}
              <h3 class="title-banner-box-black">{{ article.content | strip_html | truncatewords: 5 }}</h3>
              {% endif %}
              
              {% if banner_subtitle != blank %}
                <h2 class="title-banner-box-blue">{{banner_subtitle}}</h2>
              {% endif %} 

              {% if banner_btn  != blank %}
              <a href="{{ banner_url }}" class="btn-box-banner">{{ banner_btn }}</a>                            
              {% endif %}   

            </div>
              {% if article.title != blank  %}
                <h2 class="banner-box-title banner-box-title-blue">{{ article.title }}</h2>
              {% endif %}

          </div>
        </div>

        {%endif %}
  {%endfor %}
</div>
{%endif%}