{% assign sourcedata = blogs[settings.team_circle_data] %}
{% assign count = sourcedata.articles_count %}
{% assign number_cols = settings.team_circle_columns | plus: 0 %}
{% assign blog_tag_filter = settings.team_circle_data_tag %}

{%comment%}default :team_person {%endcomment%} 

{% include 'jv-sub-heading-box' %} 

{%if count >= 1 %}

<div class="team-circle">
	<div class="row">
		 {% for article in sourcedata.articles %}

	    {% if article.tags contains blog_tag_filter and article.excerpt contains '[jvperson]' %}
	      {% assign temp = article.excerpt | split:'[/jvperson]' | first %}
	      {% assign personcode = temp | split:'[jvperson]' | last %}
	      
	      {% assign temp = personcode | split:'[/job]' | first %}
	      {% assign person_job = temp | split:'[job]' | last %}

	      {% assign temp = personcode | split:'[/url]' | first %}
	      {% assign person_url = temp | split:'[url]' | last %}

	      {% assign temp = personcode | split:'[/links]' | first %}
	      {% assign person_links = temp | split:'[links]' | last %}


			<div class="col-md-{{12 | divided_by : number_cols }} col-sm-6 col-xs-12">
				<div class="item-team-circle item-team-circle ">
					<div class="team-circle-thumb">
						<div class="img team-cirle-image" style="background-image: url({{ article.image.src | img_url: 'master' }}); background-size: cover; background-position: center center"></div>

						<div class="info-circle-thumb">
							{%if article.content != blank %}
							<p class="desc">{{article.content | strip_html | truncatewords: 5}}</p>
							{%endif %}

							{% assign lis =  person_links | split: ' | ' %}
							{% assign lis_size = lis | size %}
							
							{%if settings.team_social_enable and lis_size > 0 %}
							<ul class="team-circle-social-network list-inline">
								{%for i in (1..4) %}
									{%capture social_i%}team_social_{{i}}{%endcapture%}
									{% if settings[social_i] != blank %}
										<li><a target="_blank" href="{{lis[i] | url_escape }}"><i class="{{settings[social_i] }}"></i></a></li>
									{% endif %}
								{%endfor %}
							</ul>
							{% endif %}

						</div>
					</div>
					<div class="team-circle-info">
						<h3><a href="{{person_url}}">{{ article.title }}</a></h3>
						{%if person_job != blank %}
						<span>{{ person_job }}</span>
						{%endif %}
					</div>
				</div>
			</div>

	      {%endif %}
	  {%endfor %}
	</div>
</div>
{%endif%}