<!-- =TODO -->
{% if template != 'cart' %}



<div class="inner-cart-info {{inner_cart_info_class}}">

<form action="/cart" method="post" class="cart-page-form mini-cart" novalidate id="mini-cart">
  <h2><span class="cart-count" id="cart-count">{{ cart.item_count }}</span> {{ 'cart.general.items' | t }}</h2>
  <div class="shop-cart-list" data-line="{{ forloop.index }}">

    <ul class="info-list-cart">
      {% for item in cart.items %}
      <li class="mini_cart_item item-info-cart" id="cart-item-{{ item.id }}">
        <div class="cart-thumb">
          <a href="{{ item.url }}" class="cart-thumb cart-image"> 
            <img src="{{ item | img_url: 'medium' }}"  alt="{{ item.title | escape }}">
          </a>
        </div>	

        <div class="wrap-cart-title">
          <h3 class="cart-title"><a href="{{ item.url }}"> {{ item.product.title }} </a></h3>
          
          <div class="product-quantity cart-qty">
            <span class="cart-price">{% include 'price' with item.price %} </span> x <span class="cart-qty--number">{{ item.quantity }}</span>
          </div>
        </div>	
        <div class="wrap-cart-remove">
          <a class="btn-remove remove-product product-remove remove" href="javascript:void(0)"  ><i class="lnr lnr-cross"></i></a> 
         
        </div>  
      </li>
      {% endfor %} 

    </ul>

  </div>

  <div class="total-cart">
    <label>{{ 'cart.general.subtotal' | t }}</label> <span class="right price">{% include 'price' with cart.total_price %}</span>
  </div>
  <div class="link-cart">
    <a href="/cart" class="cart-edit">edit cart</a>
    <button type="submit" name="checkout" class="cart-checkout"> {{ 'cart.general.checkout' | t }} </button>
  </div>
</form>

</div>


{% endif %}



