{% if handle != '' %}
<ul class="mega-menu-content{{ class }} mega-style1 {%if settings[nav_img_enable]%}{{nav_img_enable}}{%endif%}" {%if settings[nav_img_enable]%}style='background-position: {{settings[nav_img_pos]}}'{%endif%} >
  {% for link in linklists[handle].links %}  
  <li class="{% if link.active %} active{% endif %} menu-title menu-dropdown">
    <a href="{{ link.url }}">{{ link.title }}</a>
    {% assign handlej = link.title | handleize %}
    {% if linklists[handle].links.size > 0 %}
    {% capture handlei %}{{handlej}}{% endcapture %}
      {% include 'nav' class:'', handle: handlei %}
    {% endif %}
  </li>
  {% endfor%}

    {%if settings[nav_product] != blank %}
    {%assign handle_product = settings[nav_product] %}
  <li class="{{handle_product}} {{all_products[handle_product].title}}" >
    {% assign menu_product = all_products[handle_product] %}
    {% assign featured_image = menu_product.selected_variant.featured_image | default: menu_product.featured_image %}
    <a href="{{menu_product.url}}">{{menu_product.title}}
    </a>
    <a class="link" href="{{menu_product.url}}"><img src="{{ featured_image.src | product_img_url: 'grande' }}" alt="{{menu_product.title}}"/></a>
    <div class="info-price text-center"> {% include 'price' with menu_product.price %}</div>
  </li>
  {%endif%}

</ul>
{% endif %}