<div class="wrap-cart-qty">
	
	{%if show_price == 'yes' %}
	<div class="info-price">
		<div class="product-item--price price">
			<span class=" medium--left">
				{% include 'price' with product.price %}
			</span>
			{% if on_sale %}
				<del class="sale-tag medium--right{% if settings.product_reviews_enable %} has-reviews{% endif %}">
				{% assign compare_price = product.compare_at_price %}
				{% assign product_price = product.price %}
				{% include 'price-sale' %}
				</del>
			{% endif %}
			
		</div>
	</div>
	{% endif %}

	<div class="info-extra">
		<!-- <a href="#" class="link-wishlist"><span class="lnr lnr-heart"></span></a> -->
		{% include 'wishlist-product' %}

		<a href="#" class="link-compare"><span class="lnr lnr-sync"></span></a>
	</div>
	{% comment %}

	<form action="/cart/add" method="post" enctype="multipart/form-data" class="addToCartForm1 form-add-to-cart " id="product-actions-{{ product.id }}">
		<select name="id"  class="product-variants hidden">
			{% for variant in product.variants %}
				{% if variant.available %}
					<option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} data-sku="{{ variant.sku }}" value="{{ variant.id }}">{{ variant.title }}</option>
				{% else %}
					<option disabled="disabled">
						{{ variant.title }} - {{ 'products.product.sold_out' | t }}
					</option>
				{% endif %}
			{% endfor %}
		</select>
		{% if settings.product_quantity_enable %}
			<div class="quantity-wrapper info-qty">
				<label for="quantity" class="quantity-selector">{{ 'products.product.quantity' | t }}</label>
				<input type="number" id="quantity" name="quantity" value="1" min="1" class="quantity-selector">
			</div>
		{% endif %}
		<button type="submit" name="add" class="btn-link-default add-to-cart product-add-cart"><span class="addToCartText">{{ 'products.product.add_to_cart' | t }}</span></button>
	</form>
	{% endcomment %}


	{% assign variantCount = product.variants | size %}
	<form action="/cart/add" method="post" class="addToCartForm form-add-to-cart" data-id="product-actions-{{ product.id }}"  enctype="multipart/form-data" >    
	  {% if sold_out %}
	    <button class="btn-link-default add-to-cart product-add-cart" type="submit"  disabled="disabled" data-toggle="tooltip" data-placement="top" title="{{ 'products.product.unavailable' | t }}" ><span class="addToCartText"> {{'products.product.unavailable' | t}}</span> </button>
	  {% elsif variantCount > 1 %}
	      <button class="btn-link-default add-to-cart product-add-cart" type="button" onclick="window.location.href='{{product.url}}'" data-toggle="tooltip" data-placement="top" title="{{'products.product.select_options' | t }}"><span class="text"> {{'products.product.select_options' | t}}</span></button>
	  {% else %}
	      <input type="hidden" name="id" value="{{ product.variants[0].id }}" />
	      <button class="btn-link-default add-to-cart product-add-cart btn-ajax" type="submit"  data-toggle="tooltip" data-placement="top" title="{{'products.product.add_to_cart' | t}}">
	      <span class="addToCartText">{{ 'products.product.add_to_cart' | t }}</span></button>
	  {% endif %}
	</form>  





</div>