{%assign time = leading_time %}

{% assign on_sale = false %}
{% if product.compare_at_price > product.price %}
  {% assign on_sale = true %}
{% endif %}


<div class='product-grid-item col-md-6 col-sm-6 col-xs-12'  style="max-height: 374px; overflow: hidden;" >

	<div class="item-product item-product-leading">
		<div class="item-product-thumb">
			<a class="product-thumb-link" href="{{ product.url }}">

       {% if leading_product_image %}
          {{ leading_product_image | asset_url | img_tag: leading_product_image }}
        {% else %}
          <img src="{{ 'jv_noimage.jpg' | asset_url }}" alt="{{ product.title }}">
        {% endif %}
			</a>
		</div>
		<div class="item-product-info">
			<div class="info-price product-item--price price">
        <span class="">
          {% include 'price' with product.price %}
        </span>
         {% if on_sale %}

             {%if settings.product_show_price_compare_at_price == 'save' %}
              <div class="sale-tag {% if settings.product_reviews_enable %} has-reviews{% endif %}">
              {% assign compare_price = product.compare_at_price %}
              {% assign product_price = product.price %}
              {% include 'price-sale' %}
              </div>
            {% else %}
               <del>{% include 'price' with product.compare_at_price %}</del>
            {% endif %}


        {% endif %}
      </div>
			
			<h3 class="sub-title"> <a href="{{ product.url | within: current_collection }}" class="product-title">{{ product.title }}</a></h3>

      {% include 'product-item--countdown' with countdown_wrap:"countdown--big" %}
		
			<a href="{{ product.url }}" class="readmore">{{'products.product.shop_now' | t}}</a>
      
		</div>
	</div>
</div>