{%assign time = leading_time %}

<div class='product-grid-item col-md-6 col-sm-6 col-xs-12  style="max-height: 374px; overflow: hidden;" '>

	<div class="item-product item-product-leading">
		<div class="item-product-thumb">
			<a class="product-thumb-link" href="{{ product.url }}">

       {% if leading_product_image %}
          {{ leading_product_image | asset_url | img_tag: leading_product_image }}
        {% else %}
          <img src="{{ 'no_image.png' | asset_url }}" alt="{{ item.title }}">
        {% endif %}
			</a>
		</div>
		<div class="item-product-info">
			<div class="info-price product-item--price price">
        <span class="">
          {% include 'price' with product.price %}
        </span>
         {% if on_sale %}
          <del class="sale-tag {% if settings.product_reviews_enable %} has-reviews{% endif %}">
          {% assign compare_price = product.compare_at_price %}
          {% assign product_price = product.price %}
          {% include 'price-sale' %}
          </del>
        {% endif %}
      </div>
			
			<h3 class="sub-title"> <a href="{{ product.url | within: current_collection }}" class="product-title">{{ product.title }}</a></h3>
      

     

      {% include 'product-item--countdown' with countdown_wrap:"countdown--big" %}

        
      

		
			<a href="{{ product.url }}" class="readmore">{{'products.product.shop_now' | t}}</a>

      
		</div>
	</div>
</div>