{% if settings.product_style_option == 'style-2' %}
 
{% endif %}

<div class="detail-product-tab col-md-12">
  <!-- Nav tabs -->
  <div class="nav-tabs-default">
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#description" aria-controls="description" role="tab" data-toggle="tab">{{ 'products.product.description' | t }}</a></li>
      <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Additional Information</a></li>
      <li role="presentation"><a href="#reviews" aria-controls="reviews" role="tab" data-toggle="tab">{{ 'products.product.reviews' | t }} </a></li>
      <li role="presentation"><a href="#tags" aria-controls="tags" role="tab" data-toggle="tab">Tags</a></li>
    </ul>
  </div>
  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="description">
    <h5>{{ 'products.product.description' | t }}</h5>
    {{ product.description }}
    </div>
    <div role="tabpanel" class="tab-pane" id="profile">
    
    </div>
    <div role="tabpanel" class="tab-pane" id="reviews">
    <h5>{{ 'products.product.reviews' | t }}</h5>
     <div id="shopify-product-reviews" data-id="{{ product.id }}">{{ product.metafields.spr.reviews }}</div>
    </div>
    <div role="tabpanel" class="tab-pane" id="tags">
     
    </div>
  </div>
</div>