{% unless grid_item_width %}
{% assign grid_item_width = 'col-md-4 col-sm-5 col-xs-12 col-md-offset-1 col-sm-offset-0' %}
{% endunless %}

{% unless current_collection %}
{% assign current_collection = collection %}
{% endunless %}

{% assign on_sale = false %}
{% if product.compare_at_price > product.price %}
{% assign on_sale = true %}
{% endif %}

{% assign sold_out = true %}
{% if product.available  %}
{% assign sold_out = false %}
{% endif %}

{% comment %}
Select the product image size from settings.
{% endcomment %}
{% assign image_size = settings.collection_prod_image_sizes %}

{%unless class_feature_img_wrap%}
{%assign class_feature_img_wrap = "col-md-6" %}
{%endunless%}

<div class="{{class_feature_img_wrap}}">
  <div class="product-featured-thumb">
    <ul class="bxslider">

    {% for image in product.images %}
    <li> <img src="{{ image.src  | img_url: image_size }}" alt="{{ image.alt | escape }}"> </li>
    {% endfor %}
    </ul>
  </div>
</div>

<div class="col-md-6 col-sm-7 col-xs-12">               
  <div class="product-featured-info">
    <h3><a href="{{ product.url | within: current_collection }}" >{{ product.title }}</a></h3>
     <div class="info-price">
        <div class="product-item--price price">
            
            {% include 'price' with product.price %}

          {% if on_sale %}
         
             {%if settings.product_show_price_compare_at_price == 'save' %}
              <div class="sale-tag {% if settings.product_reviews_enable %} has-reviews{% endif %}">
                {% assign compare_price = product.compare_at_price %}
                {% assign product_price = product.price %}
                {% include 'price-sale' %}
              </div>
              {% else %}
                <del>{% include 'price' with product.compare_at_price %}</del>
            {% endif %}

          {% endif %}
          
        </div>
    </div>
    <div class="product--detail-countdown mt-20">
      {% include 'product-item--countdown' with countdown_wrap:"countdown--small" %}
    </div>
    <p class="desc">
      
        {% if product.description contains '[jvcountdown]' %}
            {% assign des = product.description | split:'[/jvcountdown]' | last %}
            {{ des | split: '|' | first | strip_html | truncatewords: 30 }}
          {%else %}
            {{ product.description | split: '|' | first | strip_html | truncatewords: 30 }}
        {% endif %}
    </p>
    <div class="bx-pager">
      {% assign index = 0 %}
      {% for image in product.images %}
      <a data-slide-index="{{index}}" href=""><img src="{{ image.src  | img_url: thumb }}" alt="{{ image.alt | escape }}"> </a>
       {% assign index = index | plus: 1 %}
      {% endfor %}

    </div>
    {% include 'product-list-item--add-to-cart' with show_price:'no' %}
  </div>
</div>