{% if settings.product_style_option == 'style-1' %}      

  {% if settings.product_image_gallery_style == '2' %} 
  <div class="product-image-slider-wrapper ">
    <div class="product-image-slider simple-slider control-nav zoomed-img-container animation-zoom">

      {% for image in product.images %}

      <div class="product-image-item">
        <div class="item-image">
          <img class="mfp-item"  data-mfp-src="{{ image.src | img_url: 'original' }}" src="{{ image.src | img_url: 'grande' }}" alt="{{ image.alt | escape }}">
        </div>
      </div>
      {% endfor %}
    </div>

  </div>
  {% else %}   
    <div class="product-thumbnail-slider product-gallery">
      <div class="product-photo-container bxslider" id="productPhoto">
        {% assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}
        <img id="productPhotoImg" src="{{ featured_image | img_url: 'original' }}" alt="{{ featured_image.alt | escape }}" {% if settings.product_image_zoom_enable %} data-zoom="{{ featured_image | img_url: '1024x1024' }}"{% endif %}>
      </div>
      {% if product.images.size > 1 %}
      <div class="row space-10" id="productThumbs">

        {% for image in product.images %}
        <div class="col-sm-3 col-xs-4">
          <a href="{{ image.src | img_url: 'large' }}" class="product-photo-thumb">
            <img src="{{ image.src | img_url: 'compact' }}" alt="{{ image.alt | escape }}">
          </a>
        </div>
        {% endfor %}

      </div>
      {% endif %}
    </div>
  {% endif %}               
{% else %}      
  {% if settings.product_image_gallery_style == '2' %}   
    <div class="product-thumbnail-slider product-gallery">
      <div class="product-syn-slider-1 syn-slider-1 dir-nav zoomed-img-container bxslider">

        {% for image in product.images %}
        <div class="product-slider-item">
          <div class="item-image"><img class="mfp-item"  data-mfp-src="{{ image.src | img_url: 'original' }}" src="{{ image.src | img_url: 'large' }}" alt="{{ image.alt | escape }}"></div>
        </div>
        {% endfor %}

      </div>
      <div class="product-syn-slider-2-wrapper " id="bx-pager">
        <div class="product-syn-slider-2 syn-slider-2 ">


          {% for image in product.images %}
          <div class="product-slider-item ">
            <div class="item-image text-center layout-after"><img class="mfp-item"   src="{{ image.src | img_url: 'small' }}" alt="{{ image.alt | escape }}"></div>
          </div>
          {% endfor %}

        </div>
      </div>
    </div>             


  {% else %}  
  <div class="product-thumbnail-slider">
    <div class="product-photo-container" id="productPhoto">
      {% assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}
      <img id="productPhotoImg" src="{{ featured_image | img_url: 'large' }}" alt="{{ featured_image.alt | escape }}" {% if settings.product_image_zoom_enable %} data-zoom="{{ featured_image | img_url: '1024x1024' }}"{% endif %}>
    </div>
    {% if product.images.size > 1 %}
    <div class="row space-10" id="productThumbs">

      {% for image in product.images %}
      <div class="col-sm-3 col-xs-4">
        <a href="{{ image.src | img_url: 'large' }}" class="product-photo-thumb">
          <img src="{{ image.src | img_url: 'compact' }}" alt="{{ image.alt | escape }}">
        </a>
      </div>
      {% endfor %}

    </div>
    {% endif %}

  </div>

  {% endif %}               

{% endif %}