{% assign thisproduct = all_products[leading_product] %}
{%assign time = leading_time %}

<div class='product-grid-item col-md-6 col-sm-6 col-xs-12  style="max-height: 374px; overflow: hidden;" '>

	<div class="item-product item-product-leading">
		<div class="item-product-thumb">
			<a class="product-thumb-link" href="{{ thisproduct.url }}">

       {% if leading_product_image %}
          {{ leading_product_image | asset_url | img_tag: leading_product_image }}
        {% else %}
          <img src="{{ 'no_image.png' | asset_url }}" alt="{{ item.title }}">
        {% endif %}
			</a>
		</div>
		<div class="item-product-info">
			<div class="info-price product-item--price price">
        <span class="">
          {% include 'price' with thisproduct.price %}
        </span>
         {% if on_sale %}
          <del class="sale-tag {% if settings.product_reviews_enable %} has-reviews{% endif %}">
          {% assign compare_price = thisproduct.compare_at_price %}
          {% assign product_price = thisproduct.price %}
          {% include 'price-sale' %}
          </del>
        {% endif %}
      </div>
			
			<h3 class="sub-title"> <a href="{{ thisproduct.url | within: current_collection }}" class="product-title">{{ thisproduct.title }}</a></h3>

      
      {%include 'product--countdown' %}

      {%if settings[time] != blank %}
		<!-- 	<div data-date="{{settings[time]}}" class="hotdeal-countdown">
			</div> -->
      {% endif %}
		
			<a href="{{ thisproduct.url }}" class="readmore">{{'products.product.shop_now' | t}}</a>

      
		</div>
	</div>
</div>