<div id="quick-view1" style="display:none; width: 782px">
  <div class="overlay no-background"></div>
  <div class="content product-single">
    <div class="row">
      <div class="col-xs-6">
        <div class="product-media thumbnai-left">
          <div class="featured-image product-single-photos"></div>
          <div class="more-views owl-carousel-play margin-top-10">
            <div class="owl-carousel"  data-items="4" data-dots="false" data-lazyLoad="true" data-nav="false" data-autoHeight="false"></div>
          </div>
        </div>
      </div> 

      <div class="col-xs-6">
        <div class="product-shop product-info-main">
          <div class="product-item">
            <h2 class="product-name"><a>&nbsp;</a></h2>
            <div class="product-category">
              Table
            </div>

            <div class="details clearfix">
              <form action="/cart/add" method="post" class="variants">
                <div class="prices product-price hidden">                  
                  <span class="price"></span>
                  <del class="compare-price"></del> 
                </div>
                <p class="des description"></p>    
                <select name='id' style="display:none;">

                </select>
                <div>
                  <p class="hethang margin-top-5"></p>
                </div>

                <div class="product-actions">
                  <div class="product-quantity">
                    <label>Qty</label>
                    <div class="quantity-all">
                      <span  class='qtyminus' data-field='quantity'><i class="fa  fa-caret-down"></i></span>
                      <input type="text" name="quantity" value="1" class="qty quantity form-control">
                      <span class='qtyplus' data-field='quantity'><i class="fa fa-caret-up"></i></span>
                    </div>
                    <div class="total-price product-price f-left margin-right-20">
                      <span></span>
                    </div>
                  </div>


                  <div class=" actions">
                    <button type="button" class=" btn-addToCart btn btn-lg btn-primary">Add to Cart</button>                  
                  </div>
                </div>

              </form>
            </div>



          </div>
        </div>
      </div>
      <a href="javascript:void(0)" class="close-window">x</a>
     
    </div>
  </div>
</div>


<!-- HERE -->
<script id="quick-view-template"  type="text/x-handlebars-template">
    <div id="quick-view-template-row" class="row" style="width: 782px" >
    {% raw %}

  
  		<div class="col-md-6">
  			<div class="product-featured-thumb">
  				<ul class="bxslider">
  		
            <img src="{{featured_image}}" alt="">
  				</ul>
  			</div>
  		</div>
  		<div class="col-md-6 col-sm-7 col-xs-12">
  			<div class="product-featured-info">
  				<h3><a href="{{ url }}" >{{title}}</a></h3>
  				<div class="info-price">
  					<div class="product-item--price price">
  						<span class="medium--left">{{price}}</span>
  						
              {{# if on_sale }}
  							<del class="sale-tag medium--right has-reviews">
  							{{compare_at_price }}
  							</del>
  						{{/if}}
  						
  					</div>
  				</div>
  				<p class="desc">{{ content}}</p>
  				<div class="bx-pager">
  				
  				</div>

            
            <form action="/cart/add" method="post" class="addToCartForm form-add-to-cart" data-id="product-actions-{{id}}"  enctype="multipart/form-data" >    
              {{#if sold_out }}
                <button class="btn-link-default add-to-cart product-add-cart" type="submit"  disabled="disabled" data-toggle="tooltip" data-placement="top" title="products.product.unavailable'" ><span class="addToCartText"> products.product.unavailable </span> </button>
             
              {{ else }}
                  <input type="hidden" name="id" value="{{ variants[0].id }}" />
                  <button class="btn-link-default add-to-cart product-add-cart btn-ajax" type="submit"  data-toggle="tooltip" data-placement="top" title="Add to cart">
                  <span class="addToCartText">Add to cart</span></button>
              {{/if }}
            </form>  

  				 
  			</div>
  		</div>
    
		
      {% endraw %}
  </div>
</script>

<script type="text/javascript">

 jQuery('.action.product-quick-view').click(function() { 
    
     jQuery("#quick-view-template-row").show();

    var id = $(this).attr('data-id');
    var rating = (($(this).closest('.item-product').find('.spr-badge').attr('data-rating')) * 20)+"%";

    console.log( jQuery(this));

    Shopify.getProduct(id, function(product) {
      
      console.log(product);
      var template = jQuery('#quick-view-template'),
        wrapper = jQuery('.quickview-product'),
        template_compiled = Handlebars.compile(template.html());

      jQuery(wrapper).html(template_compiled(product));


      });

  }).fancybox({
        'titleShow'   : false,
        'onClosed'    : function() {
              jQuery("#quick-view-template-row").hide();
        }
        
      });

</script>


