<!-- HERE -->
<script id="quick-view-template"  type="text/x-handlebars-template">
<h2 class="title-popup">{{'products.product.quick_shop'| t }}</h2>

<div class="content-popup">

    <div id="quick-view-template-row" class="item-product-featured" style="width: 782px" >
    <div class="row">
    {% raw %}
  
      <div class="col-md-6">
        <div class="product-featured-thumb">
          <ul class="bxslider">
            {{#each product.images}}
            <li> <img src="{{this}}" alt="{{this}}"></li>
            {{/each}}
          </ul>
        </div>
      </div>
      <div class="col-md-6 col-sm-7 col-xs-12">
        <div class="product-featured-info">
          <h3><a href="{{ product.url }}" >{{product.title}}</a></h3>
          <div class="info-price">
            <div class="product-item--price price">{{{price_format}}}
              
              {{# if product.on_sale }}
                <del class="sale-tag medium--right has-reviews">
                {{{compare_at_price_format }}}
                </del>
              {{/if}}
              
            </div>
          </div>
          <p class="desc">{{ content}}</p>

          <div class="bx-pager">
            {{#each product.images}}
                <a data-slide-index="{{@index}}" href=""><img src={{this}}'> </a>
            {{/each}}
          </div>



          <div class="mt-20">
            <form action="/cart/add" method="post" class="addToCartForm form-add-to-cart" data-id="product-actions-{{product.id}}"  enctype="multipart/form-data" >    
              {{#if sold_out }}
                <button class="btn-link-default add-to-cart product-add-cart" type="submit"  disabled="disabled" ><span class="addToCartText unavailableText"> Unavailable </span> </button>
             
              {{ else }}
                  
                  {{#if variantCount}}
                    <button class="btn-link-default add-to-cart product-add-cart" type="button" onclick="window.location.href='{{product.url}}'" ><span class="text selectoptionText">Options </span></button>

                   {{ else }}
                  
                    <input type="hidden" name="id" value="{{product.variants.0.id }}" />
                    <button class="btn-link-default add-to-cart product-add-cart btn-ajax" type="submit">
                    <span class="addToCartText">Add to cart</span></button>

                  {{/if}}

              {{/if }}
            </form>  
          </div>
           
        </div>
      </div>
    
    
      {% endraw %}
    </div>
  </div>
</div>
</script>

{{ 'jquery.products.js' | asset_url | script_tag }}

<script type="text/javascript">

 jQuery('.action.product-quick-view').click(function() { 
    
     jQuery("#quick-view-template-row").show();

    var id = $(this).attr('data-id');
    var rating = (($(this).closest('.item-product').find('.spr-badge').attr('data-rating')) * 20)+"%";



    Shopify.getProduct(id, function(product) {
      
      
    
      var is_compare_at_price = false;
          if(product.compare_at_price > product.price){
            is_compare_at_price = true;
          }
      var content = product.description.replace(/(<([^>]+)>)/ig, "");        
          content = content.split(" ").splice(0, 20).join(" ") + "...";

      var variantCount = (product.variants.length) > 1 ? true: false ;
         

      var  data = {
          featured_image: Shopify.Products.resizeImage(product.featured_image, "medium"),
          price_format: Shopify.formatMoney(product.price, window.money_format),
          compare_at_price_format: Shopify.formatMoney(product.compare_at_price, window.money_format),
          is_compare_at_price: is_compare_at_price,
          content: content,
          variantCount: variantCount,
          product: product
      };
      

      var template = jQuery('#quick-view-template'),
        wrapper = jQuery('.quickview-product'),
        template_compiled = Handlebars.compile(template.html());

      jQuery(wrapper).html(template_compiled(data));

      //bxslide
      jQuery('.item-product-featured').find('.bxslider').bxSlider({
          pagerCustom: '.bx-pager',
          nextText: '',
          prevText: ''
        });

      jQuery("#quick-view-template-row .addToCartText").html("{{ 'products.product.add_to_cart' | t }}");
      jQuery("#quick-view-template-row .unavailableText").html("{{ 'products.product.unavailable' | t }}");
      jQuery("#quick-view-template-row .selectoptionText").html("{{ 'products.product.select_options' | t }}");

      window.t.goAddToCart();

      {% if settings.show_multiple_currencies %}
        if (window.t.checkNeedToConvertCurrency()){
          
          Currency.convertAll('{{ shop.currency }}', jQuery('[name=currencies]').val());
        }
      {% endif %}
        

    });

  }).fancybox({
        'titleShow'   : false,
        'padding'   : 0,
        'onClosed'    : function() {
          jQuery("#quick-view-template-row").hide();
          jQuery('.quickview-product').html('');
        }
        
  });

</script>


