<div style="display: none !important" >
	<a class="action product-quick-view sca-qv-button"  href="#sca-qv-showqv"title="{{'products.product.quick_shop'| t }}" handle="{{product.handle}}" >
	<span class="lnr lnr-magnifier"></span>
</a></div>

{% if is_loaded_settings %}
{% else %}
{% assign is_loaded_settings = true  %}
<div id='sca-qv-metadata' style="display: none !important" jsondata='{{ shop.metafields.sca-np-qv.settings}}' moneyFormat="{{ shop.money_format }}" noimage="{{ 'sca-qv-no-image.jpg' | asset_url }}"></div>
{% endif %}
