
<div class="bannerslider1 header-slider slider-owl-single-item-paging default-paginav" data-pauseonhover="{{settings.slide_pauseOnHover}}"
data-autoplay="{{settings.slide_autoplay}}" data-speed="{{settings.slide_speed}}">
  <div class="wrap-item">
  {% for i in (1..4) %}
  
  {% capture slide %}slide_sm_{{ i }}{% endcapture %}

  {% if settings.slider1_img_set %}
    {% capture slide_img %}slide_{{settings.slider1_img_set}}_{{ i }}.jpg{% endcapture %}
  {% endif %}

  {% capture slide_img %}slide_sm_{{ i }}.jpg{% endcapture %}
  
  {% capture slide_link %}slide_{{ i }}_link{% endcapture %}

    {% if settings[slide] %}
      <div class="item">
        <div class="item-home-slider">
          <a href="{{settings[slide_link]}}">
          <div class="img" style="background-image: url('{{slide_img | asset_url}}');" ></div>
          </a>
        </div>
      </div>
    {% endif %}
    {% endfor %}
  </div>
</div>

