
<div class="bannerslider2 banner-slider banner-slider-circle-vertical slider-owl-single-item-paging" data-pauseonhover="{{settings.slide_pauseOnHover}}"
data-autoplay="{{settings.slide_autoplay}}" data-speed="{{settings.slide_speed}}">
  <div class="wrap-item">
    {% for i in (1..4) %}
      {% capture slide %}slide_{{ i }}{% endcapture %}

      {% if settings.slider2_img_set %}
        {% capture slide_img %}slide_{{settings.slider2_img_set}}_{{ i }}.jpg{% endcapture %}
      {% endif %}

      {% capture slide_icon %}slide_{{ i }}_icon{% endcapture %}
      {% capture slide_icon_img %}slide_{{ i }}_icon_img.png{% endcapture %}    
      {% capture slide_title1 %}slide_{{ i }}_title_1{% endcapture %}
      {% capture slide_title2 %}slide_{{ i }}_title_2{% endcapture %}
      {% capture slide_text %}slide_{{ i }}_text{% endcapture %}
      {% capture slide_button %}slide_{{ i }}_button{% endcapture %}
      {% capture slide_link %}slide_{{ i }}_link{% endcapture %}

       {% if settings[slide] %}
        <div class="item">
          <div class="content-banner-slider">
            <a href="#" class="banner-thumb-link">
              
              {% if settings.slider2_text_enable %}
              <div data-caption-animation="fadeIn" class="caption-wrapper text-center">
                <p class="heading-icon size-70 {% if settings[slide_icon] != blank  %} {{ settings[slide_icon] }} {% endif %}">
                {% if settings[slide_icon] == blank  %}
                <br />{{ slide_icon_img | asset_url | img_tag: settings[slide_alt] }} <br />
                {% endif %}
                </p>                  
                {% if settings[slide_title1] != blank  %}
                <h4 class="caption">{{ settings[slide_title1] }}</h4>
                {% endif %}
                {% if settings[slide_title2] != blank %}
                <h5 class="caption">{{ settings[slide_title2] }}</h5>
                {% endif %} 
                {% if settings[slide_text]  != blank %}
                <p class="caption">{{ settings[slide_text] }}</p>
                {% endif %}
                {% if settings[slide_button]  != blank %}
                <a href="{{ settings[slide_link] }}" class=" bt-link bt-yellow bt-style5">{{ settings[slide_button] }}</a>                            
                {% endif %}                        
              </div>
              {% endif %}

              <div class="img" style="background-image: url('{{slide_img | asset_url}}');" ></div>

              <!-- <img src="{{slide_img | asset_url}}" alt="slide_alt">  -->
           
            </a>  
          </div>
        </div>
      {% endif %}
    <!-- End Item -->
     {% endfor %}
  </div>
</div>

