

<div class="banner-home7">
  <div class="banner-slider-circle-hoztical background-transparent" data-pauseonhover="{{settings.slide_pauseOnHover}}"
data-autoplay="{{settings.slide_autoplay}}" data-speed="{{settings.slide_speed}}" data-time="{{settings.slide_time}}">
    <div class="wrap-item">

      {% for i in (1..4) %}
        {% capture slide %}slide_{{ i }}{% endcapture %}

        {% if settings.slider7_img_set %}
         {% capture slide_img %}slide_{{settings.slider7_img_set}}_{{ i }}.png{% endcapture %}
        {% endif %}
        
        {% capture slide_icon %}slide_{{ i }}_icon{% endcapture %}
        {% capture slide_icon_img %}slide_{{ i }}_icon_img.png{% endcapture %}  
        {% capture slide_title1 %}slide_{{ i }}_title_1{% endcapture %}
        {% capture slide_title2 %}slide_{{ i }}_title_2{% endcapture %}
        {% capture slide_text %}slide_{{ i }}_text{% endcapture %}
        {% capture slide_button %}slide_{{ i }}_button{% endcapture %}
        {% capture slide_link %}slide_{{ i }}_link{% endcapture %}
        {% capture slide_video %}slide_{{ i }}_video{% endcapture %}

        {% if settings[slide] %}

          <div class="item">
            {% if settings[slide_video] != blank %}
          <video class="slide-video" poster="{{ slide_img | asset_url  }}" preload="auto" autoplay="" loop="loop" muted="muted">
            <source src="{{settings[slide_video]}}" type="video/mp4">
          </video>
          {% endif %}
            <div class="content-banner-slider">
              <div class="container">
                <div class="row">
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="banner-rect-info">
                    {% if settings[slide_title1] != blank  %}
                      <h4>{{ settings[slide_title1] }}</h4>
                    {% endif %}
                    {% if settings[slide_title2] != blank %}
                      <h2>{{ settings[slide_title2] }}</h2>
                     {% endif %}
                      {% if settings[slide_button]  != blank %}
                      <a href="#" class="btn-link-default"> {{ settings[slide_button] }}</a>
                       {% endif %}
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <a href="#" class="banner-thumb-link">
                      {{ slide_img | asset_url | img_tag: settings[slide_alt] }} 
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>



