<main class="main-content">

  {% if page.metafields.jvpage.breadcrumb != 'hide'  %}  
  <div class="container"> {% include 'breadcrumb' %} </div>
  {% endif %}  

{% if page.metafields.jvpage.titlePage != 'hide'  %}
  <div class="common-static-header">
    <div class="parallax-bg" data-stellar-background-ratio="0.25"
      {% if page.metafields.jvpage.titleBackground != blank %}
        style="background-image:url({{ page.metafields.jvpage.titleBackground }})"
      {% endif %}
    ></div>
    <div class="container">
      <h1 >
      <span>
        {% if current_tags %}
          {{ blog.title | link_to: blog.url }} &mdash; {{ current_tags.first }}
        {% else %}
          {{ blog.title }}
        {% endif %}
      </span>
      </h1>
    </div>
  </div>
{% endif %}
<section role="main" class="wrapper-content  full-content  {% if page.metafields.jvpage.spaceContent == 'no'  %} no-padding  {% endif %}">
<div class="container">

  {% paginate blog.articles by 8 %}

  <div class="row">
    <div class="col-md-9 col-md-offset-3 content-blog-page">
      <div class="row masonry-container">
        
        {% for article in blog.articles %}
          {%include 'blog--masonry-item' %}
          {% endfor %}
        </div>
        

        {% if paginate.pages > 1 %}
        <div class="post-pagi-nav">
          <div class="pagination">
            {% include 'pagination-custom' %}
          </div>
        </div>
        {% endif %}

        
        {%comment %}
        <div id="product-list-foot"></div>
        {% if paginate.current_page < paginate.pages %}
        <div class="news-load-more">
          <a class="addmore btn-link-default" href="{{ paginate.next.url }}">Load More</a>
        </div>
        {% endif %}
        {%endcomment%}

      </div>
      <script language="javascript">
      
      jQuery(function($){

          var $container = $('.masonry-container').imagesLoaded(function(){
            $container.masonry({
              itemSelector: '.itemMasonry'
            });
          });

          
          // var msnry = new Masonry( grid, {
          //   itemSelector: '.itemMasonry'
          // });
          // grid.addEventListener( 'click', function( event ) {
          //   if ( !matchesSelector( event.target, '.popular-box' )  ) {
          //     return;
          //   }
          //   var itemElem = event.target.parentNode;
          //   itemElem.classList.toggle('is-expanded');
          //   msnry.layout();
          // });

      });

      </script>
      <aside class="sidebar-blog col-md-3 col-md-jvoffset-12">
        {% include 'blog-sidebar' %}
      </aside>
    </div>
  {% endpaginate %}
</div>
</section>
</main>