{% include 'collection-category-slider' %}

<div id="box">
  <div id="collection">
    <div class="common-static-header collection-header">
     
      <div class="container">
        <h1 class="section-header--title">{{ collection.title }}
        <span class="count">({{ collection.all_products_count }}   {{ collection.all_products_count | pluralize: 'collections.general.items', 'collections.general.items' | t }})</span>
        </h1>
        
        
        {% if collection.description != blank %}
          <div class="collection-description">
            {{ collection.description }}
          </div>
        {% endif %}
      </div>
    </div>


    {% if settings.number_products_per_page != blank %}
      {% assign product_per_page = settings.number_products_per_page %}
    {% else %}
      {% assign product_per_page = 6 %}
    {% endif %}

    {% paginate collection.products by product_per_page %}

    <div class="container">
    {% include 'breadcrumb' %}
    </div>

    {% assign has_sidebar = false %}
    {% if collection.all_tags.size > 0 %}
      {% assign has_sidebar = true %}
    {% endif %}

    <main class="wrapper main-content templates-collection collection-sidebar-left" role="main">
      <div class="container">
        <div class="row" >
          <div class="grid-item{% if has_sidebar %} col-md-9  col-md-offset-3 {% endif %}">
          
          {% comment %} Different markup if description is set {% endcomment %}

            {% assign collection_data_view = 'sidebar_left' %}

            {%include 'collection-toolbar' with class_toolbar:'toolbar-top', show_button_filter: false %}


          <div class="row {% if has_sidebar %}has-sidebar{% endif %}">
            {% for product in collection.products  %}
              
              {% include 'product-grid-item' %}
            {% else %}
              <div class="grid-item col-xs-12 messagefull info">
                <div class=" content">{{ 'collections.general.no_matches' | t }}</div>
              </div>
            {% endfor %}
          </div>
        
          {%include 'collection-toolbar' with class_toolbar:'toolbar-bottom', show_button_filter: false %}

      </div>
      {% if has_sidebar %}
        <aside class="sidebar col-md-jvoffset-12 col-md-3 sidebar-left sidebar-product" id="collectionFilters">
          {% include 'collection-sidebar' %}
        </aside>
      {% endif %}
    </div>

    {% endpaginate %}
      </div>
    </main>
  </div> 
</div>