{% include 'collection-category-slider' %}

<div id="box">
  <div id="collection">
    <div class="common-static-header collection-header">
       <div class="container">
        <h1 class="section-header--title">{{ collection.title }}
          <span class="count">({{ collection.all_products_count }}   {{ collection.all_products_count | pluralize: 'collections.general.items', 'collections.general.items' | t }})</span>
        </h1>
        
        {% if collection.description != blank %}
          <div class="collection-description">
            {{ collection.description }}
          </div>
        {% endif %}
      </div>
    </div>

    {% if settings.number_products_per_page != blank %}
      {% assign product_per_page = settings.number_products_per_page %}
    {% else %}
      {% assign product_per_page = 9 %}
    {% endif %}


    {% paginate collection.products by product_per_page %}
    {% assign has_sidebar = false %}
    
    {% if collection.all_tags.size > 0 %}
      {% assign has_sidebar = true %}
    {% endif %}
    <main class="wrapper main-content templates-collection collection-sidebar-no" role="main">
      <div class="container">
        {% include 'breadcrumb' %}
      
        {%include 'collection-toolbar' with class_toolbar:'toolbar-top', show_button_filter: true %}
      
      {% comment %}  Different markup if description is set  {% endcomment %}
        <div class="collection-product row product-grid">
          {% for product in collection.products  %}
            
            {% include 'product-grid-item' %}
          {% else %}
            <div class="grid-item col-xs-12 messagefull info">
              <div class=" content">{{ 'collections.general.no_matches' | t }}</div>
            </div>
          {% endfor %}
        </div>

        {%include 'collection-toolbar' with class_toolbar:'toolbar-bottom', show_button_filter: false %}

      {% endpaginate %}
      </div>
    </main>
  </div> 
</div>